.not-found {
  height: calc(100vh - 58px);
  position: relative;

  .space {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .astro, h2, button {
    z-index: 3;
    max-width: 90%;
  }
}