<div class="code-inputs" fxLayout="column">
  <div class="breakdowns" [formGroup]="groups.at(i)" *ngFor="let breakDownKey of codes?.breakDownKeys; let i = index">
    <header fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="12px">
      <p>{{breakDownKey}} {{codes.breakDowns[breakDownKey]?.label?.toLowerCase()}}</p>

      <ng-container [formGroupName]="breakDownKey">
        <div fxFlex="90px" class="sd-input">
          <label>Coverage</label>
          <select formControlName="value">
            <option *ngFor="let clause of increments" [value]="clause">{{clause}}%</option>
          </select>
        </div>

        <span>Or</span>
        <div fxFlex="90px" class="sd-input">
          <label>Min</label>
          <select formControlName="min">
            <option *ngFor="let clause of increments" [value]="clause">{{clause}}%</option>
          </select>
        </div>
        <span>-</span>
        <div fxFlex="90px" class="sd-input">
          <label>Max</label>
          <select formControlName="max">
            <option *ngFor="let clause of increments" [value]="clause">{{clause}}%</option>
          </select>
        </div>
      </ng-container>
    </header>
    <div class="sub-breakdown">
      <div formGroupName="codes" *ngFor="let subKey of codes?.breakDowns[breakDownKey].breakDownKeys; let j = index">
        <ng-container [formGroupName]="subKey">
          <div fxLayout="column">
            <p>{{subKey}} - {{codes?.breakDowns[breakDownKey]?.breakDowns[subKey]?.label}}</p>

            <div fxFlex="0 0 auto" fxLayout="column" fxLayoutGap="32px">
              <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign=" start">
                <div class="sd-input" fxFlex="105px">
                  <label>Coverage</label>
                  <select formControlName="percent">
                    <option *ngFor="let clause of increments" [value]="clause">{{clause}}%</option>
                  </select>
                </div>
                <ng-container formGroupName="ageRange">
                  <div class="sd-input" fxFlex="120px">
                    <label>Min age</label>
                    <input type="number" formControlName="min">
                  </div>
                  <div class="sd-input" fxFlex="90px">
                    <label>Max age</label>
                    <input type="text" formControlName="max">
                  </div>
                </ng-container>
                <mat-form-field appearance="none">
                  <mat-label>Shared codes</mat-label>
                  <mat-select multiple (selectionChange)="checkOtherOptions($event, subKey)"
                    formControlName="sharedCodes">
                    <ng-container *ngFor="let breakDownKeySub of codes?.breakDownKeys">
                      <ng-container *ngFor="let subtitlesAreBetter of codes?.breakDowns[breakDownKeySub].breakDownKeys">
                        <mat-option *ngIf="subtitlesAreBetter !== subKey" [value]="subtitlesAreBetter">
                          {{subtitlesAreBetter}}
                        </mat-option>
                      </ng-container>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign=" start">
                <ng-container formGroupName="frequency">
                  <div class="sd-input" fxFlex="105px">
                    <label>Numerator</label>
                    <input formControlName="numerator" type="number">
                  </div>
                  <div class="sd-input" fxFlex="120px">
                    <label>Denominator</label>
                    <input type="number" formControlName="denominator">
                  </div>
                  <div class="sd-input" fxFlex="90px">
                    <label>Unit</label>
                    <select formControlName="unit">
                      <option *ngFor="let clause of unitOptions" [value]="clause.value">{{clause.label}}</option>
                    </select>
                  </div>
                </ng-container>
                <div fxLayout="column" fxFlex>
                  <div class="sd-input radio">
                    <label>Proof of medical necessity needed?</label>

                    <mat-radio-group color="primary" fxLayoutGap="20px" formControlName="medicalNecessity">
                      <mat-radio-button *ngFor="let clause of radioOptions" [value]="clause.value">
                        {{clause.label}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </ng-container>
      </div>
    </div>
  </div>
</div>