<div class="codes" *ngIf="codes">
  <h3>Categories</h3>
  <div class="breakdowns" *ngFor="let breakDownKey of codes?.breakDownKeys; let i = index">
    <header fxLayout="row" fxLayoutGap="12px">
      <p fxFlex>{{breakDownKey}} {{codes.breakDowns[breakDownKey]?.label?.toLowerCase()}}</p>
      <p *ngIf="savedCodes && savedCodes[i] && savedCodes[i][breakDownKey]">
        <ng-container *ngIf="savedCodes[i][breakDownKey].fixed === 0 || savedCodes[i][breakDownKey].fixed">
          {{savedCodes[i][breakDownKey].fixed}}%</ng-container>
        <ng-container
          *ngIf="savedCodes[i][breakDownKey].min === 0 || savedCodes[i][breakDownKey].max === 0 || savedCodes[i][breakDownKey].min || savedCodes[i][breakDownKey].max">
          {{savedCodes[i][breakDownKey].min}}% - {{savedCodes[i][breakDownKey].max}}%
        </ng-container>
      </p>
    </header>
    <div class="sub-breakdown">
      <div fxLayout="row" fxLayoutGap="12px"
        *ngFor="let subKey of codes?.breakDowns[breakDownKey].breakDownKeys; let j = index">
        <p fxFlex>{{subKey}} - {{codes?.breakDowns[breakDownKey]?.breakDowns[subKey]?.label}}</p>
        <p *ngIf="savedCodes && savedCodes[i] && savedCodes[i].codes">
          {{savedCodes[i].codes[subKey].percent}}%
          {{savedCodes[i].codes[subKey].frequency.numerator}} / {{savedCodes[i].codes[subKey].frequency.denominator}}
          {{savedCodes[i].codes[subKey].frequency.unit}}
        </p>
      </div>
    </div>
  </div>
</div>