<div class="codes" *ngIf="codes">
  <h3>Categories</h3>
  <div class="breakdowns" *ngFor="let breakDownKey of codes?.breakDownKeys; let i = index">
    <header fxLayout="row" fxLayoutGap="12px">
      <p fxFlex>{{breakDownKey}} {{codes.breakDowns[breakDownKey].label.toLowerCase()}}</p>
      <p>80%</p>
    </header>
    <div class="sub-breakdown">
      <div fxLayout="row" fxLayoutGap="12px"
        *ngFor="let subKey of codes?.breakDowns[breakDownKey].breakDownKeys; let j = index">
        <p fxFlex>{{subKey}} - {{codes?.breakDowns[breakDownKey].breakDowns[subKey].label}}</p>
        <p>70%</p>
      </div>
    </div>
  </div>
</div>