:host {
  height: 100%;
}

.reconciliation {
  padding: 20px 20px 20px 10px;
  box-sizing: border-box;
  height:100%;

  h3 {
    margin: 0;
  }

  > mat-card {
    height: 100%;
    box-sizing: border-box;
  }

  .m-top {
    margin-top: 16px;
  }

  .top-card {
    max-width:350px;

    > :nth-child(1) {
      span {
        opacity: 0.5;

      }
      
      div {
        font-size: 20px;
        margin-top: 4px;
      }
    }

    > :nth-child(2) {
      font-size: 14px;
      color: var(--ac-blue);
    }
  }

  .table {
    height: calc(100% - 190px);
    box-sizing: border-box;
    padding: 0;

    table {
      width:  100%;
    }
  }
}