<div class="reconciliation">
  <mat-card class="c-card">

    <div>
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-card fxFlex class="top-card" fxLayout="row">
          <div fxFlex fxLayout="column">
            <span>Credit card</span>
            <div>$3,432</div>
          </div>
          <div>+0.2%</div>
        </mat-card>

        <mat-card fxFlex class="top-card" fxLayout="row">
          <div fxFlex fxLayout="column">
            <span>Deposits</span>
            <div>$123,671,432.12</div>
          </div>
          <div>+0.2%</div>
        </mat-card>

        <mat-card fxFlex class="top-card" fxLayout="row">
          <div fxFlex fxLayout="column">
            <span>3rd party financing</span>
            <div>$3,432</div>
          </div>
          <div>+0.2%</div>
        </mat-card>

        <mat-card fxFlex class="top-card">
          <div>
            <span>Claims payment</span>
            <div>$3,432</div>
          </div>
          <div>+0.2%</div>
        </mat-card>
      </div>
      <div class="m-top">
        <div fxLayout="row" fxLayoutAlign=" end">
          <h3>Latest transactions</h3>
          <span fxFlex></span>
          <mat-form-field style="margin-right: 32px;" appearance="outline">
            <mat-label>Report Period</mat-label>
            <mat-select>
              <mat-option>This year-to-date</mat-option>
              <mat-option>Last 6 months</mat-option>
              <mat-option>Last Quarter</mat-option>
              <mat-option>Last Month</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="margin-right: 12px" appearance="outline">
            <mat-label>From</mat-label>
            <input matInput type="text">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>To</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
      </div>

    </div>
    <mat-card class="table">
      <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Clinic </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="pms">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="bank">
          <th mat-header-cell *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="net">
          <th mat-header-cell *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="getPatients(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
  </mat-card>
</div>