<div mat-dialog-content class="n-content" fxLayout="row">

  <div class="no-clinics" *ngIf="favorites.length === 0">
    Add some favorites
  </div>
  <div fxFlex="40">
    <div class="fav-title">Favorite Specialist</div>

    <div class="list fav" fxLayout="column" fxLayoutGap="16px">
      <div fxLayout="row" fxLayoutAlign="space-between" class="favorite-item" [@collapse] fxLayoutGap="24px"
        *ngFor="let a of favorites; let i = index">
        <div fxLayout="column">
          <span>{{a.name}}</span>
          <div class="specialist-type">{{a.type}}</div>
        </div>
        <div class="actions">
          <button mat-icon-button (click)="removeFavorite(a, i)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="vert"></div>

  <div class="nearby" fxFlex="60">
    <div class="sd-input">
      <input placeholder="Search for a specialty clinic" (keyup)="searchForClinics()" [(ngModel)]="searchText">
      <div class="progress" *ngIf="loading">
        <mat-spinner class="abs" diameter="24"></mat-spinner>
      </div>
    </div>

    <div class="list" fxLayout="column" fxLayoutGap="24px">
      <mat-card fxLayout="column" [@collapseLeft] *ngFor="let a of nearbySpecialists; let i = index">
        <div class="specialist-title" fxLayout="row" fxLayoutAlign="space-between start">
          <div fxLayout="column">
            <span>{{a.name}}</span>
            <div class="specialist-type" *ngIf="a.type">{{a.type}}</div>
          </div>

          <div fxLayout="row">
            <button mat-icon-button color="primary" *ngIf="a.verified">
              <mat-icon color="primary">verified</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="addFavorite(a, i)">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>

        <div class="rating" *ngIf="a.rating">
          <span class="score">{{a.rating}}</span>
          <div class="stars" [style]="'--rating: ' + a.rating"></div>
          <span class="count">({{a.ratingCount}})</span>
          <ng-container *ngIf="a.types">&middot; {{a.types[0]}}</ng-container>
        </div>

        <div class="contact-info" fxFlex="1 0">
          <div>{{a.phoneNumber}}</div>
          <div>{{a.address}}</div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="saving" (click)="updateFavorites()">Update Favorites</button>
</div>