<div class="code-inputs" fxLayout="column">
  <table>
    <tr>
      <th></th>
      <th style="width:70px">Fixed %</th>
      <th style="width:70px">Min %</th>
      <th style="width:70px">Max %</th>
    </tr>

    <ng-container class="breakdowns" *ngFor="let breakDownKey of codes?.breakDownKeys; let i = index">
      <tr>
        <td>
          <p>{{breakDownKey}} {{codes.breakDowns[breakDownKey]?.label?.toLowerCase()}}</p>
        </td>

        <td>
          <input [(ngModel)]="groupModel[i][breakDownKey].fixed" (ngModelChange)="changeFixed(i, breakDownKey)"
            type="number">
        </td>

        <td>
          <input [(ngModel)]="groupModel[i][breakDownKey].min" type="number"
            (ngModelChange)="changeRange(i, breakDownKey)">
        </td>

        <td>
          <input [(ngModel)]="groupModel[i][breakDownKey].max" (ngModelChange)="changeRange(i, breakDownKey)"
            type="number">
        </td>
      </tr>
    </ng-container>

  </table>
</div>