.patient-details {

  ::ng-deep {
    .mat-progress-bar-buffer {
      background-color: #d0d0d0;
    }
  }
  .lighter {
    opacity: 0.5;
    font-size: 13px;
  }

  h3, h4 {
    margin: 0;
  }

  .insurance {
    padding: 4px 0 8px 0;
  }

  .list-items {
    > div {
      border-top: 1px solid rgba(grey, 0.2);
      padding: 8px 0;
    }
    p {
      margin: 0;
    }
  }

  .divider {
    border-bottom: 1px solid rgba(grey, 0.5);
  }

  .chart-border {
    border: 1px solid rgba(grey, 0.2);
    border-radius: 4px;
    padding: 16px;
  }
}