.patient-details {
  .lighter {
    opacity: 0.5;
    font-size: 12px;
  }

  .divider {
    height: 1px;
    background: rgba(grey, 0.2);
  }

  header {
    margin-bottom: 20px;
  }

  h3 {
    margin: 0;
  }
}