<div *ngIf="patient" fxLayout="column" class="patient-details" fxLayoutGap="24px">
  <mat-card fxLayout="column" fxFlex="0 0 auto">
    <div fxLayout="row">
      <h1 fxFlex>{{patient.firstName}} {{patient.lastName}}</h1>
      <app-patient-status-pill [label]="patient?.status?.label" [value]="patient?.status?.value">
      </app-patient-status-pill>
    </div>
    <header fxLayout="row">
      <div fxLayout="column" fxFlex="33" fxLayoutGap="12px">
        <h4>Patient Details</h4>
        <div *ngIf="patient.dob">
          <div class="lighter">Birthday</div>
          <div>
            {{months[patient.dob.month].label}} {{patient.dob.day}}, {{patient.dob.year}}
          </div>
        </div>
        <div *ngIf="patient.createdOn">
          <div class="lighter">Registered</div>
          <div>{{patient.createdOn | date:"MMM dd, yyyy"}}</div>
        </div>
      </div>
      <div fxFlex="33" *ngIf="patient.dentalInsurance">
        <h4>Dental Insurance</h4>
        <div class="insurance" *ngFor="let dInsurance of patient.dentalInsurance">
          <div>{{dInsurance.company}}</div>
          <div class="lighter" *ngIf="dInsurance.memberId">Member ID: {{dInsurance.memberId}}</div>

          <div fxLayout="column" *ngIf="dInsurance.subscriber && dInsurance.subscriber.firstName">
            <div class="lighter">
              Subscriber Name: {{dInsurance.subscriber.firstName}} {{dInsurance.subscriber.lastName}}
            </div>
            <div class="lighter">
              Subscriber birthday: {{months[dInsurance.subscriber.dob.month].label}}
              {{dInsurance.subscriber.dob.day}},
              {{dInsurance.subscriber.dob.year}}
            </div>
          </div>
        </div>
      </div>

      <div fxFlex="33" *ngIf="patient.medicalInsurance">
        <h4>Medical Insurance</h4>

        <div class="insurance" *ngFor="let mInsurance of patient.medicalInsurance">
          <div>{{mInsurance.company}}</div>
          <div class="lighter" *ngIf="mInsurance.memberId">Member ID: {{mInsurance.memberId}}</div>

          <div fxLayout="column" *ngIf="mInsurance.subscriber && mInsurance.subscriber.firstName">
            <div class="lighter">Subscriber Name: {{mInsurance.subscriber.firstName}} {{mInsurance.subscriber.lastName}}
            </div>
            <div class="lighter">Subscriber Birthday: {{months[mInsurance.subscriber.dob.month].label}}
              {{mInsurance.subscriber.dob.day}},
              {{mInsurance.subscriber.dob.year}} </div>
          </div>
        </div>
      </div>
    </header>

    <div fxLayout="row" fxLayoutGap="20px">
    </div>
  </mat-card>

  <mat-card fxLayout="column" fxLayoutGap="12px">
    <h3>Coverage details</h3>
    <div fxLayout="row" fxLayoutGap="12px">
      <div fxFlex="50" fxLayout="column" fxLayoutGap="12px">
        <div>
          <div class="lighter">Group name, Group number</div>
          <div>{{patientCoverage?.groupName}}, {{patientCoverage?.groupNumber}}</div>
        </div>
        <div>
          <div class="lighter">Payer ID</div>
          <div>{{patientCoverage?.payerId}}</div>
        </div>
        <div>
          <div class="lighter">Eligibility start date</div>
          <div>{{patientCoverage?.eligibilityStartDate | date:"MMM dd, YYYY"}}</div>
        </div>

        <div>
          <div class="lighter">Eligibility year</div>
          <div>{{eligibilityOptions[patientCoverage?.eligibilityYear?.value]}}<ng-container
              *ngIf="patientCoverage?.eligibilityYear?.value === 'benefit'">,
              {{months[patientCoverage?.eligibilityYear?.month].label}}
            </ng-container>
          </div>
        </div>
      </div>

      <div fxFlex="50" fxLayout="column" fxLayoutGap="12px">
        <div>
          <div class="lighter">Coordination of benefits</div>
          <div>
            {{patientCoverage?.coordinationOfBenefits?.category === 'other' ? patientCoverage?.coordinationOfBenefits?.other : coordinationOfBenefits[patientCoverage?.coordinationOfBenefits?.category]}}
          </div>
        </div>

        <div>
          <div class="lighter">In network</div>
          <div>{{radioOptions[patientCoverage?.inNetwork]}}</div>
        </div>
        <div>
          <div class="lighter">Preventive deducted from maximum</div>
          <div>{{radioOptions[patientCoverage?.preventitiveDeductedFromMaximum]}}</div>
        </div>
        <div>
          <div class="lighter">Fee schedule</div>
          <div>{{patientCoverage?.feeSchedule}}<div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-card>

  <mat-card fxLayout="column" fxLayoutGap="12px">
    <h3>Coverage amounts</h3>
    <div fxLayout="row" fxLayoutGap="12px">
      <div fxFlex="50">
        <div class="lighter"> Annual maximum </div>
        <div>{{patientCoverage?.annualMaximum | currency}}</div>
      </div>
      <div fxFlex="50">
        <div class="lighter"> Annual used amount</div>
        <div>{{patientCoverage?.annualUsedAmount | currency}}</div>
      </div>

    </div>

    <div fxFlex="row" fxLayoutGap="12px">
      <div fxFlex="50" fxLayout="column" fxLayoutGap="12px">
        <div>
          <div class="lighter">Deductible (Individual)</div>
          <div>{{patientCoverage?.deductibleIndividual | currency}}</div>
        </div>
        <div>
          <div class="lighter">Deductible met amount (Individual)</div>
          <div>{{patientCoverage?.deductibleMetAmountIndividual | currency}}</div>
        </div>
      </div>
      <div fxFlex="50" fxLayout="column" fxLayoutGap="12px">
        <div>
          <div class="lighter">Deductible (Family)</div>
          <div>{{patientCoverage?.deductibleFamily | currency}}</div>
        </div>
        <div>
          <div class="lighter">Deductible met amount (Family)</div>
          <div>{{patientCoverage?.deductibleMetAmountFamily | currency}}</div>
        </div>
      </div>
    </div>

  </mat-card>

  <mat-card fxFlex="0 0 auto" fxLayout="column">
    <div fxLayout="row">
      <h3 fxFlex>Waiting periods</h3>
      <p>
        {{radioOptions[patientCoverage?.waitingPeriods?.enabled]}}
      </p>
    </div>

    <ng-container *ngIf="patientCoverage?.waitingPeriods?.enabled === 'yes'">
      <div>
        {{categories[patientCoverage?.waitingPeriods?.category]}}:
        {{patientCoverage?.waitingPeriods?.frequency}} / {{patientCoverage?.waitingPeriods?.unit}}
      </div>
      <div>
        Basic services: {{patientCoverage?.waitingPeriods?.basicService?.frequency}} /
        {{patientCoverage?.waitingPeriods?.basicService?.unit}}
      </div>
      <div>
        Major services: {{patientCoverage?.waitingPeriods?.majorService?.frequency}} /
        {{patientCoverage?.waitingPeriods?.majorService?.unit}}
      </div>
    </ng-container>
  </mat-card>

  <mat-card fxLayout="column" fxFlex="0 0 auto">
    <div fxLayout="row">
      <h3 fxFlex>Missing tooth clause</h3>
      <p>{{radioOptions[patientCoverage?.missingToothClause]}}</p>
    </div>

    <ng-container *ngIf="patientCoverage?.missingToothClause === 'yes'">
      <div fxLayout="row" fxLayoutAlign=" center">
        <span>{{categories[patientCoverage?.toothReplacementClause.reason]}}:</span>
        <span style="margin: 0px 4px" fxLayout="column">
          <span class="divider">{{patientCoverage?.toothReplacementClause.numerator}}</span>
          <span>{{patientCoverage?.toothReplacementClause.denominator}}</span>
        </span>
        <span>{{patientCoverage?.toothReplacementClause.unit}}</span>
      </div>
      <div *ngIf="patientCoverage?.toothReplacementClause.notes">
        Notes: {{patientCoverage?.toothReplacementClause.notes}}
      </div>

      <ng-container *ngFor="let item of patientCoverage?.toothReplacementClause?.callouts | keyvalue">
        <div>
          {{categories[item.key]}}:
          <ng-container *ngIf="!patientCoverage?.toothReplacementClause?.callouts[item.key].frequency">N/A
          </ng-container>
          <ng-container *ngIf="patientCoverage?.toothReplacementClause?.callouts[item.key].frequency">
            {{patientCoverage?.toothReplacementClause?.callouts[item.key].frequency}} /
            {{patientCoverage?.toothReplacementClause?.callouts[item.key].unit}}
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </mat-card>

</div>