<div *ngIf="patient" fxLayout="column" class="patient-details">
  <div fxLayout="row">
    <h3 fxFlex>{{patient.firstName}} {{patient.lastName}}</h3>
    <app-patient-status-pill [label]="patient?.status?.label" [value]="patient?.status?.value">
    </app-patient-status-pill>
  </div>
  <header fxLayout="row">
    <div fxLayout="column" fxFlex>
      <div *ngIf="patient.dob">
        Birthday {{months[patient.dob.month].label}}
        {{patient.dob.day}},
        {{patient.dob.year}}
      </div>
      <div *ngIf="patient.createdOn">
        Registered on {{patient.createdOn | date:"MMM dd, yyyy"}}
      </div>
    </div>
  </header>

  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="50" *ngIf="patient.dentalInsurance">
      <h4>Dental Insurance</h4>
      <div class="insurance" *ngFor="let dInsurance of patient.dentalInsurance">
        <div>{{dInsurance.company}}</div>
        <div class="lighter" *ngIf="dInsurance.memberId">Member ID: {{dInsurance.memberId}}</div>

        <div fxLayout="column" *ngIf="dInsurance.subscriber && dInsurance.subscriber.firstName">
          <div class="lighter">
            Subscriber Name: {{dInsurance.subscriber.firstName}} {{dInsurance.subscriber.lastName}}
          </div>
          <div class="lighter">
            Subscriber birthday: {{months[dInsurance.subscriber.dob.month].label}}
            {{dInsurance.subscriber.dob.day}},
            {{dInsurance.subscriber.dob.year}}
          </div>
        </div>
      </div>
    </div>

    <div fxFlex="50" *ngIf="patient.medicalInsurance">
      <h4>Medical Insurance</h4>

      <div class="insurance" *ngFor="let mInsurance of patient.medicalInsurance">
        <div>{{mInsurance.company}}</div>
        <div class="lighter" *ngIf="mInsurance.memberId">Member ID: {{mInsurance.memberId}}</div>

        <div fxLayout="column" *ngIf="mInsurance.subscriber && mInsurance.subscriber.firstName">
          <div class="lighter">Subscriber Name: {{mInsurance.subscriber.firstName}} {{mInsurance.subscriber.lastName}}
          </div>
          <div class="lighter">Subscriber Birthday: {{months[mInsurance.subscriber.dob.month].label}}
            {{mInsurance.subscriber.dob.day}},
            {{mInsurance.subscriber.dob.year}} </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list-items">
    <div fxLayout="row">
      <p fxFlex>Group name</p>
      <p>{{patientCoverage?.groupName}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Group Number</p>
      <p>{{patientCoverage?.groupNumber}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Payer ID</p>
      <p>{{patientCoverage?.payerId}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Eligibility start date</p>
      <p>{{patientCoverage?.eligibilityStartDate | date:"MMM dd, YYYY"}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Coordination of benefits</p>
      <p>{{patientCoverage?.coordinationOfBenefits}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex> Annual maximum </p>
      <p>{{patientCoverage?.annualMaximum}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex> Annual used amount</p>
      <p>{{patientCoverage?.annualUsedAmount}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Deductible (Family)</p>
      <p>{{patientCoverage?.deductibleFamily}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Deductible (Individual)</p>
      <p>{{patientCoverage?.deductibleIndividual}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Deductible met Amount (Family)</p>
      <p>{{patientCoverage?.deductibleMetAmountFamily}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Deductible met Amount (Individual)</p>
      <p>{{patientCoverage?.deductibleMetAmountIndividual}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Waiting periods</p>
      <p>
        {{patientCoverage?.waitingPeriods?.enabled}}
        <ng-container *ngIf="patientCoverage?.waitingPeriods?.enabled === 'yes'">
          {{months[patientCoverage?.waitingPeriods?.month].label}} {{patientCoverage?.waitingPeriods?.category}}
        </ng-container>
      </p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Eligibility year</p>
      <p>{{patientCoverage?.eligibilityYear?.value}} <ng-container
          *ngIf="patientCoverage?.eligibilityYear?.value === 'benefit'">
          {{months[patientCoverage?.eligibilityYear?.month].label}}
        </ng-container>
      </p>
    </div>
    <div fxLayout="row">
      <p fxFlex>In network</p>
      <p>{{patientCoverage?.inNetwork}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Preventive deducted from maximum</p>
      <p>{{patientCoverage?.preventitiveDeductedFromMaximum}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Fee schedule</p>
      <p>{{patientCoverage?.feeSchedule}}</p>
    </div>
    <div fxLayout="row">
      <p fxFlex>Missing tooth clause</p>
      <p>{{patientCoverage?.missingToothClause}}</p>
    </div>
    <div *ngIf="patientCoverage?.missingToothClause === 'yes'" fxLayout="row">
      <p fxFlex>Tooth Replacement Clause</p>
      <p>
        {{patientCoverage?.toothReplacementClause.numerator}} / {{patientCoverage?.toothReplacementClause.denominator}}
        {{patientCoverage?.toothReplacementClause.unit}}.
        Exclusions: {{patientCoverage?.toothReplacementClause.exclusions}}
        Reason: {{patientCoverage?.toothReplacementClause.reason}}
      </p>
    </div>
  </div>

</div>