<div class="insruance-completion" fxLayout="row" fxLayoutGap="24px">
  <div class="i-list-container">
    <mat-card class="e-list-item header" (click)="selectedClinic = undefined; selectedPatient = undefined;"
      fxLayout="column" *ngIf="selectedClinic">
      <div class="clinic-name">{{selectedClinic.name}}</div>
      <div class="clinic-address"> {{selectedClinic.address}} </div>
    </mat-card>

    <mat-card class="items">
      <div *ngIf="!selectedClinic">
        <h3>Clinics</h3>
        <div class="e-list">
          <div class="e-list-item" (click)="getPatients(clinic)"
            [ngClass]="{'active-clinic': selectedClinic?.addressId === clinic.addressId}"
            *ngFor="let clinic of clinics">
            <div class="clinic-name">{{clinic.name}}</div>
            <div class="clinic-address">{{clinic.address}}</div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedClinic">
        <h3>Patients</h3>
        <div (click)="selectPatient(patient)"
          [ngClass]="{'active-clinic': patient.patientId === selectedPatient?.patientId}" class="e-list"
          *ngFor="let patient of patients">
          <div class="e-list-item">
            <div>{{patient.firstName}} {{patient.lastName}}</div>
            <!-- <div class="clinic-address">{{clinic.address}}</div> -->
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <mat-card fxFlex class="c-card groups" *ngIf="selectedPatient">
    <div class="group" *ngFor="let group of groups" fxLayout="column" fxLayoutGap="36px">
      <h3>{{group.category}}</h3>
      <div class="sd-input" *ngFor="let key of group.componentKeys">
        <label>{{group.components[key].label}}</label>
        <input type="text">
      </div>
    </div>
  </mat-card>
</div>