.agent-input {
  height: calc(100vh - 78px);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  .actions {
    margin-right:20px;
    .sd-input {
      margin: 0;
    }
  }

  mat-card {
    margin-bottom: 20px;
  }

  .m-20 {
    padding-right: 20px;
    height: calc(100% - 58px);
    overflow: auto;
  }

  .sd-input {
    margin-top: 36px;
  }

  h3 {
    margin: 0;
  }
}