<div class="agent-input">

  <mat-card class="c-card actions" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="12px">
      <button class="back" mat-stroked-button (click)="closePatient.emit()">
        <mat-icon>keyboard_arrow_left</mat-icon> Back
      </button>

      <div fxLayout="column">
        <div>{{clinic?.name}}</div>
        <div class="lighter">{{clinic?.address}}</div>
      </div>

      <ng-container *ngIf="loading">Loading... </ng-container>
    </div>

    <div fxLayout="row" fxLayoutGap="12px">
      <button fxFlex="0 0 auto" mat-stroked-button [disabled]="!patient || processing" color="primary"
        (click)="onSave()">
        <span fxLayout="row" fxLayoutGap="8px" fxLayoutAlign=" center">
          <mat-progress-spinner *ngIf="processing" mode="indeterminate" diameter="24"></mat-progress-spinner>
          <span>{{processing ? 'Saving' : 'Save form'}}</span>
        </span>
      </button>
      <div class="sd-input" style="width:150px">
        <select [(ngModel)]="selectedStatusValue" (change)="updateStatus()">
          <option *ngFor="let stat of status; let i = index" [value]="stat.value">{{stat.label}}
          </option>
        </select>
      </div>
      <form *ngIf="selectedStatusValue === 'termed'" [formGroup]="agentForm" style="width:150px">
        <div class="sd-input" formGroupName="patientCoverage">
          <input type="text" formControlName="termDate" mask='00/00/0000' [showMaskTyped]="true">
        </div>
      </form>
    </div>
  </mat-card>

  <form [formGroup]="agentForm" class="m-20" fxLayout="column" fxLayoutGap="20px">
    <app-patient-details2 (closePatient)="closePatient.emit()" [processing]="processing" (save)="onSave()"
      [months]="months" [patient]="patient">
    </app-patient-details2>
    <ng-container formGroupName="patientCoverage">
      <mat-card class="incomplete-notes" *ngIf="selectedStatusValue === 'incomplete'">
        <div #incompleteNotesEl> </div>
        <h3>Incomplete Notes</h3>
        <textarea class="sd-input" formControlName="generalNotes"></textarea>
      </mat-card>

      <mat-card fxLayout="column" fxFlex="0 0 auto">
        <h3>Coverage</h3>

        <div fxLayout="row" fxLayoutGap="12px">
          <div class="sd-input">
            <label>Group name</label>
            <input type="text" formControlName="groupName">
          </div>
          <div class="sd-input">
            <label>Group number</label>
            <input type="text" formControlName="groupNumber">
          </div>
        </div>

        <div class="sd-input">
          <label>Payer ID</label>
          <input type="text" formControlName="payerId">
        </div>

        <div class="sd-input">
          <label>Eligibility start date (MM/DD/YYYY)</label>
          <input type="text" formControlName="eligibilityStartDate" mask='00/00/0000' [showMaskTyped]="true">
        </div>

        <div fxLayout="row" fxLayoutGap="12px" formGroupName="coordinationOfBenefits">
          <div fxFlex class="sd-input">
            <label>Coordination of benefits</label>

            <select formControlName="category">
              <option *ngFor="let clause of coordinationOfBenefits" [value]="clause.value">{{clause.label}}</option>
            </select>
          </div>

          <div fxFlex class="sd-input"
            *ngIf="agentForm.get('patientCoverage').value.coordinationOfBenefits.category === 'other'">
            <label>Other</label>
            <input type="text" formControlName="other">
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="12px">
          <div class="sd-input" fxFlex>
            <label>Annual maximum</label>
            <input type="text" prefix="$" mask="separator.2" thousandSeparator="," formControlName="annualMaximum">
          </div>

          <div class="sd-input" fxFlex>
            <label>Annual used amount</label>
            <input type="text" prefix="$" mask="separator.2" thousandSeparator="," formControlName="annualUsedAmount">
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="12px">
          <div class="sd-input" fxFlex>
            <label>Deductible (Individual)</label>
            <input type="text" prefix="$" mask="separator.2" thousandSeparator=","
              formControlName="deductibleIndividual">
          </div>

          <div class="sd-input" fxFlex>
            <label>Deductible (Family)</label>
            <input type="text" prefix="$" mask="separator.2" thousandSeparator="," formControlName="deductibleFamily">
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="12px">
          <div class="sd-input" fxFlex>
            <label>Deductible met amount (Individual)</label>
            <input type="text" prefix="$" mask="separator.2" thousandSeparator=","
              formControlName="deductibleMetAmountIndividual">
          </div>

          <div class="sd-input" fxFlex>
            <label>Deductible met amount (Family)</label>
            <input type="text" prefix="$" mask="separator.2" thousandSeparator=","
              formControlName="deductibleMetAmountFamily">
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="12px" formGroupName="eligibilityYear">
          <div class="sd-input" fxFlex>
            <label>Eligibility year</label>
            <select formControlName="value" (change)="resetEligibilityYear()">
              <option *ngFor="let clause of eligibilityOptions" [value]="clause.value">{{clause.label}}</option>
            </select>
          </div>

          <div *ngIf="agentForm.get('patientCoverage').value.eligibilityYear.value === 'benefit'" class="sd-input"
            fxFlex>
            <label>Benefits month</label>
            <select formControlName="month">
              <option *ngFor="let month of months" [value]="month.value">{{month.label}}</option>
            </select>
          </div>
        </div>

        <div class="sd-input radio" fxFlex>
          <label>In-network</label>

          <mat-radio-group color="primary" fxLayoutGap="20px" formControlName="inNetwork">
            <mat-radio-button *ngFor="let clause of radioOptions" [value]="clause.value">
              {{clause.label}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="sd-input radio" fxFlex>
          <label>Preventitive deducted from maximum</label>

          <mat-radio-group color="primary" fxLayoutGap="20px" formControlName="preventitiveDeductedFromMaximum">
            <mat-radio-button *ngFor="let clause of radioOptions" [value]="clause.value">
              {{clause.label}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="sd-input" fxFlex>
          <label>Fee schedule</label>
          <input type="text" formControlName="feeSchedule">
        </div>

      </mat-card>

      <mat-card fxLayout="column" fxFlex="0 0 auto" formGroupName="waitingPeriods">
        <h3>Waiting periods</h3>
        <div fxLayout="row" fxLayoutGap="12px">
          <div class="sd-input radio" fxFlex>
            <label>Has waiting periods?</label>
            <mat-radio-group (change)="resetWaitingPeriod($event.value)" color="primary" fxLayoutGap="20px"
              formControlName="enabled">
              <mat-radio-button *ngFor="let clause of radioOptions" [value]="clause.value">
                {{clause.label}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <ng-container *ngIf="agentForm.get('patientCoverage').value.waitingPeriods.enabled === 'yes'">
            <div fxFlex class="sd-input">
              <label>Category</label>
              <select formControlName="category">
                <option *ngFor="let clause of missingToothClauses" [value]="clause.value">{{clause.label}}</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div fxFlex class="sd-input"
              *ngIf="agentForm.get('patientCoverage').value.waitingPeriods.category === 'other'">
              <label>Other</label>
              <input type="text" formControlName="other">
            </div>

            <div fxFlex class="sd-input">
              <label>Frequency</label>
              <input type="number" formControlName="frequency">
            </div>

            <div fxFlex class="sd-input">
              <label>Unit</label>
              <select formControlName="unit">
                <option *ngFor="let unit of unitOptions" [value]="unit.value">{{unit.label}}</option>
              </select>
            </div>
          </ng-container>

        </div>
        <table class="waiting-table" *ngIf="agentForm.get('patientCoverage').value.waitingPeriods.enabled === 'yes'">
          <tr>
            <th></th>
            <th>Frequency</th>
            <th>Unit</th>
          </tr>

          <tr formGroupName="basicService">
            <td>Basic Services</td>
            <td> <input type="number" formControlName="frequency"></td>
            <td>
              <select formControlName="unit">
                <option *ngFor="let unit of unitOptions" [value]="unit.value">{{unit.label}}</option>
              </select>
            </td>
          </tr>
          <tr formGroupName="majorService">
            <td>Major Services</td>
            <td> <input type="number" formControlName="frequency"></td>
            <td>
              <select formControlName="unit">
                <option *ngFor="let unit of unitOptions" [value]="unit.value">{{unit.label}}</option>
              </select>
            </td>
          </tr>
        </table>
      </mat-card>

      <mat-card fxLayout="column" fxFlex="0 0 auto">
        <h3>Missing tooth clause</h3>
        <div class="sd-input radio">
          <label>Has missing tooth clause?</label>
          <mat-radio-group (change)="toggleClause($event.value)" color="primary" fxLayoutGap="20px"
            formControlName="missingToothClause">
            <mat-radio-button *ngFor="let clause of radioOptions" [value]="clause.value">
              {{clause.label}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <ng-container *ngIf="showMissingToothClause" formGroupName="toothReplacementClause">
          <div fxLayout="row" fxLayoutGap="12px">
            <div class="sd-input" fxFlex>
              <label>Reason</label>
              <select formControlName="reason">
                <option *ngFor="let reason of missingToothClauses" [value]="reason.value">{{reason.label}}</option>
              </select>
            </div>

            <div class="sd-input" fxFlex>
              <label>Numerator</label>
              <input type="text" formControlName="numerator">
            </div>
            <div class="sd-input" fxFlex>
              <label>Denominator</label>
              <input type="text" formControlName="denominator">
            </div>
            <div class="sd-input" fxFlex>
              <label>Unit</label>
              <select formControlName="unit">
                <option *ngFor="let clause of unitOptions" [value]="clause.value">{{clause.label}}</option>
              </select>
            </div>

            <div class="sd-input radio" fxFlex>
              <label>Notes</label>
              <input type="text" formControlName="notes">
            </div>
          </div>

          <table class="waiting-table" formGroupName="callouts">
            <tr>
              <th>Callout</th>
              <th>Frequency</th>
              <th>Unit</th>
            </tr>

            <tr *ngFor="let clause of missingToothClauses" [formGroupName]="clause.value">
              <td>{{clause.label}}</td>
              <td><input type="text" formControlName="frequency"></td>
              <td>
                <select formControlName="unit">
                  <option *ngFor="let clause of unitOptions" [value]="clause.value">{{clause.label}}</option>
                </select>
              </td>
            </tr>
          </table>
        </ng-container>
      </mat-card>
    </ng-container>

    <mat-card fxLayout="column" fxFlex="0 0 auto">
      <div fxLayout="column" fxFlex="0 0 auto">
        <h3>Categories</h3>
        <app-code-category *ngIf="agentForm.get('codes')" [codes]="savedCodes" [groups]="agentForm.get('codes')"
          [increments]="increments" [codeList]="codeList" [unitOptions]="unitOptions" [radioOptions]="radioOptions">
        </app-code-category>
      </div>
    </mat-card>

    <mat-card fxLayout="column" fxFlex="0 0 auto">
      <div fxLayout="column" fxFlex="0 0 auto">
        <h3>Code Specific</h3>
        <mat-tab-group animationDuration="150ms">
          <mat-tab label="Dental">
            <app-code-inputs *ngIf="agentForm.get('codes')" [allCodes]="allCodes" [codes]="savedCodes"
              [groups]="agentForm.get('codes')" [increments]="increments" [codeList]="codeList"
              [unitOptions]="unitOptions" [radioOptions]="radioOptions">
            </app-code-inputs>
          </mat-tab>

          <mat-tab label="Medical">
            <app-code-inputs [hasMedicalNecessity]="true" *ngIf="agentForm.get('medicalCodes')" [allCodes]="allCodes"
              [codes]="savedCodes" [groups]="agentForm.get('medicalCodes')" [increments]="increments"
              [codeList]="codeList" [unitOptions]="unitOptions" [radioOptions]="radioOptions">
            </app-code-inputs>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>

    <mat-card fxLayout="column" fxFlex="0 0 auto">
      <ng-container formGroupName="history">
        <h3>History</h3>

        <ng-container *ngFor="let key of codesHistory.breakDownKeys">
          <ng-container *ngFor="let subKey of codesHistory.breakDowns[key].breakDownKeys">
            <app-tooth-history [radioOptions]="radioOptions"
              [label]="subKey + ' ' + codesHistory.breakDowns[key].breakDowns[subKey].label"
              [historyForm]="agentForm.get('history')['controls'][subKey]"></app-tooth-history>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-card>

    <mat-card fxLayout="column" fxFlex="0 0 auto">
      <ng-container formGroupName="remarks">
        <h3>Remarks</h3>

        <div class="sd-input" fxFlex>
          <label>Insurance representative name</label>
          <input type="text" formControlName="insuranceRepresentativeName">
        </div>

        <div class="sd-input" fxFlex>
          <label>Call ref #</label>
          <input type="text" formControlName="callRefNumber">
        </div>

        <div fxLayout="row" fxLayoutGap="12px">
          <div class="sd-input" fxFlex>
            <label>Verified by</label>
            <input type="text" formControlName="verifiedBy">
          </div>
          <div class="sd-input" fxFlex>
            <label>Verified date (MM/DD/YYYY)</label>
            <input type="text" formControlName="verifiedDate" mask='00/00/0000' [showMaskTyped]="true">
          </div>
        </div>
      </ng-container>
    </mat-card>
  </form>
</div>