.agent-input {
  height: calc(100vh - 78px);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  .actions {
    margin-right:20px;
    .sd-input {
      margin: 0;
    }
  }

  mat-card {
    margin-bottom: 20px;
  }

  .m-20 {
    padding-right: 20px;
    height: calc(100% - 58px);
    overflow: auto;
  }

  .sd-input {
    margin-top: 36px;
  }

  h3 {
    margin: 0;
  }

  .waiting-table {
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0px;
    
    td {
      border: 1px solid rgba(grey, 0.4);
      padding: 0 8px;
      height: 100%;
    }
  
    th {
      text-align: left;
      > div {
        padding-right: 12px;
      }
    }

    input, select {
      width: 100%;
      display:inline-block;
      outline:none;
      height: 32px;
      padding: 0;
      margin: 0;
      border: none;
    }
  }
  
}