.agent-input {
  height: calc(100vh - 78px);
  padding: 4px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  .actions {
    .sd-input {
      margin: 0;
    }
  }

  .m-20 {
    margin-top: 20px;
    height: calc(100% - 58px);
    overflow: auto;
  }

  .sd-input {
    margin-top: 36px;
  }

  h3 {
    margin: 0;
  }
}