<div class="medical-insurance" fxLayout="column" fxLayoutGap="20px">
  <mat-card>
    <div fxflex="33" *ngIf="patient.medicalInsurance">
      <h3>Medical Insurance(s)</h3>

      <div class="insurance" *ngFor="let mInsurance of patient.medicalInsurance">
        <div>{{mInsurance.company}}</div>
        <div class="lighter" *ngIf="mInsurance.memberId">Member ID: {{mInsurance.memberId}}</div>

        <div fxLayout="column" *ngIf="mInsurance.subscriber && mInsurance.subscriber.firstName">
          <div class="lighter">Subscriber Name: {{mInsurance.subscriber.firstName}} {{mInsurance.subscriber.lastName}}
          </div>
          <div class="lighter">Subscriber Birthday: {{months[mInsurance.subscriber.dob.month]?.label}}
            {{mInsurance.subscriber.dob.day}},
            {{mInsurance.subscriber.dob.year}} </div>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card *ngIf="clinic" class="c-card">
    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="16px">
      <button class="back" mat-stroked-button (click)="toPatients()">
        <mat-icon>keyboard_arrow_left</mat-icon> Patients
      </button>

      <div fxLayout="column">
        <div>{{clinic?.name}} <span class="lighter">{{clinic?.phoneNumber}}</span></div>
        <div class="lighter">{{clinic?.address}}</div>
      </div>
      <div fxLayout="column">
        <div *ngIf="clinic.groupNpi"><span class="lighter">Npi: </span>{{clinic.groupNpi}}</div>
        <div *ngIf="clinic.taxId"><span class="lighter">Tax ID: </span>{{clinic.taxId}}</div>
      </div>

      <span fxFlex></span>

      <button fxFlex="0 0 auto" mat-stroked-button [disabled]="!patient || processing" color="primary"
        (click)="onSave()">
        <span fxLayout="row" fxLayoutGap="8px" fxLayoutAlign=" center">
          <mat-progress-spinner *ngIf="processing" mode="indeterminate" diameter="24"></mat-progress-spinner>
          <span>{{processing ? 'Saving' : 'Save form'}}</span>
        </span>
      </button>
      <div class="sd-input" style="width:150px">
        <select [(ngModel)]="selectedStatusValue" (change)="updateStatus()">
          <option *ngFor="let stat of status; let i = index" [value]="stat.value">{{stat.label}}
          </option>
        </select>
      </div>
      <form *ngIf="selectedStatusValue === 'termed'" [formGroup]="agentForm" style="width:150px">
        <div class="sd-input" formGroupName="patientCoverage">
          <input type="text" formControlName="termDate" mask='00/00/0000' [showMaskTyped]="true">
        </div>
      </form>
    </div>
  </mat-card>

  <mat-card>
    <h3>Code Specific</h3>
    <form [formGroup]="agentForm" class="m-20">
      <app-code-inputs [hasMedicalNecessity]="true" *ngIf="agentForm.get('codes')" [allCodes]="allCodes"
        [codes]="savedCodes" [groups]="agentForm.get('codes')" [increments]="increments" [codeList]="codeList"
        [unitOptions]="unitOptions" [radioOptions]="radioOptions">
      </app-code-inputs>
    </form>
  </mat-card>
</div>