.medical-insurance {
  height: 100%;
  width: 100%;
  padding: 20px 20px 20px 10px;
  box-sizing: border-box;
  overflow: auto;

  select, input {
    font-size: 13px !important;
  }

  .flower {
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .lighter {
    opacity: 0.5;
    font-size: 13px;
  }

  .form-stuff .sd-input {
    margin-top: 32px;
  }

  .t-area {
    margin-top: 0 !important;
  }

  .m-t3 {
    margin-top: 12px;
  }

}