<div class="agent" fxLayout="row">
  <div class="patients">
    <mat-card class="c-card">
      <div *ngFor="let clinic of clinics; let i = index">
        <div fxLayout="row" fxLayoutAlign=" start">
          <h3 fxFlex>{{clinic.name}}</h3>
        </div>
        <div [ngClass]="{'active': selectedPatient?.patientId === patient.patientId}"
          (click)="selectPatient(patient, clinic.addressId)" class="patient-items"
          *ngFor="let patient of filteredPatients[i]" fxLayout="column">
          <app-patient-list-item [patient]="patient"></app-patient-list-item>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="patient-details" fxFlex fxLayout="column" fxLayoutGap="24px">
    <ng-container *ngIf="selectedPatient">
      <app-patient-details2 [months]="months" [patient]="selectedPatient"></app-patient-details2>
      <app-agent-input [addressId]="addressId" [patient]="selectedPatient"></app-agent-input>
    </ng-container>
  </div>
</div>