:host {
  height: 100%;
  position: relative;
}

.agent {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;

  .lighter {
    opacity: 0.5;
    font-size: 13px;
  }

  mat-tab-group {
    margin-bottom: 16px;
  }

  .company {
    font-size: 12px;
    border-radius: 4px;
    margin-right: 4px;
    background: rgba(grey, 0.1);
    padding: 4px 12px;
  }

  .selected-clinic {
    padding-bottom: 24px;

    h3 {
      margin-bottom: 0;
    }

    .sub {
      opacity: 0.5;
    }

    .sd-input {
      margin-top: 12px;
    }
  }

  .darken {
    font-weight: 500;
  }

  .note {
    max-width: 400px;
    margin-bottom: 24px;
  }

  .search-bar {
    height: 42px;
    padding-right: 20px;
  }

  .overflow {
    position: relative;
    overflow: auto;
    box-sizing: border-box;
  }

  .fix {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 56px);
    top: 56px;
    left: 0;
    width: 100vw;
    overflow: auto;
    z-index: 4;
    background: linear-gradient(90deg, #3b3d42, #232425);
  }

  .patients {
    height: 100%;
    padding: 20px 20px 20px 10px;
    overflow: auto;

    table {
      width: 100%;
    }
    
    .mat-row {
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background: rgba(grey, 0.2) !important;
      }
    }

  }

  .patient-list {
    height: calc(100% - 170px);
    overflow: auto;
  }

  .patient-details {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding: 20px 0 0 10px;
  }
}