<div class="login" fxLayout="row" fxLayoutAlign="space-between">

  <div class="login-splash">
    <img src="assets/images/brand.svg" alt="">
    <h2>Super Dentist</h2>
  </div>

  <div>
    <div class="login-form">
      <div>
        <input class="sd-input" matInput placeholder="Email">
      </div>
      <div>
        <input class="sd-input" matInput placeholder="Password">
      </div>

      <button class="sd-button blue">Login</button>
      <div class="forgot">Forgot password?</div>
    </div>
    <div fxLayout="column" fxLayoutGap="4px">
      <div class="new-customer" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign=" center">
        <div fxFlex></div>
        <span>New customer?</span>
        <div fxFlex></div>
      </div>
      <button class="sd-button grey">Create Account</button>
    </div>
  </div>
</div>