<div class="referrals" fxLayout="row">

  <mat-card class="scr" fxFlex="520px">
    <mat-tab-group *ngIf="clinicType === 'dentist'" [(selectedIndex)]="tabIndex">
      <mat-tab>
        <ng-template mat-tab-label>
          <span [matBadge]="tabCounts[0]" matBadgeOverlap="false">Ongoing</span>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span [matBadge]="tabCounts[1]" matBadgeOverlap="false">Closed</span>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <div>
      <div *ngIf="clinicType === 'specialist'" fxLayout="row" fxFlex="0 0 auto" class="channel-tab"
        [ngClass]="{'c1': tabIndex === 1, 'c2': tabIndex === 2, 'c3': tabIndex === 3}">
        <div (click)="tabIndex = 0" [ngClass]="{'active': tabIndex === 0}">
          <!-- <mat-icon class="example-tab-icon">pending_actions</mat-icon> -->
          <span [matBadge]="tabCounts[0]" matBadgeOverlap="false">Referred</span>
        </div>
        <div (click)="tabIndex = 1" [ngClass]="{'active': tabIndex === 1}">
          <!-- <mat-icon class="example-tab-icon">hourglass_top</mat-icon> -->
          <span [matBadge]="tabCounts[1]" matBadgeOverlap="false">Pending</span>
        </div>
        <div (click)="tabIndex = 2" [ngClass]="{'active': tabIndex === 2}">
          <!-- <mat-icon class="example-tab-icon">schedule</mat-icon> -->
          <span [matBadge]="tabCounts[2]" matBadgeOverlap="false">Scheduled</span>
        </div>
        <div (click)="tabIndex = 3" [ngClass]="{'active': tabIndex === 3}">
          <!-- <mat-icon class="example-tab-icon">done</mat-icon> -->
          <span [matBadge]="tabCounts[3]" matBadgeOverlap="false">Completed</span>
        </div>
      </div>
    </div>

    <div class="cs">
      <div *ngFor="let c of clinicReferrals; let clinicIndex = index">
        <mat-card *ngIf="c.referrals[tabIndex] && c.referrals[tabIndex] && c.referrals[tabIndex].length !== 0"
          class="c-card clinic-title" fxLayout="row" fxLayoutAlign=" center">
          <div fxFlex>
            <h2>{{c.clinicName}}</h2>
            <span>{{c.clinicCity}}</span>
          </div>
          <!-- <button mat-icon-button>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button> -->
        </mat-card>

        <div fxLayout="column">
          <div *ngFor="let r of c.referrals[tabIndex]; let i = index; let l = last">
            <mat-card class="r c-card">
              <div (click)="referralChat(r.referralId)">
                <header>
                  <h2>{{r.patientFirstName}} {{r.patientLastName}}</h2>

                  <div>{{r.createdOn | date:"MMM dd, yyyy"}} </div>
                  <div *ngIf="r.patientPhone">{{r.patientPhone.replace('+1', '') |  mask:"(000) 000-0000"}}</div>
                </header>

                <ng-container *ngIf="clinicType === 'dentist' && r.status && tabIndex === 0">
                  <button color="primary" class="mark-complete-button"
                    [disabled]="!r.status || r.status.gdStatus !== 'completed'" mat-raised-button
                    (click)="$event.stopPropagation(); markStatusDentist(i, 'closed')">{{r.status ? r?.status.gdStatus === 'completed' ? 'Close Referral': referredStatuses[r.status.gdStatus].label  : 'No status'}}
                  </button>
                </ng-container>

                <button mat-icon-button class="more-actions" (click)="$event.stopPropagation()"
                  [matMenuTriggerFor]="refMenu"
                  [matMenuTriggerData]="{refId: r.referralId, documents: r.documents, selectedRefIndex: i, selectedClinicIndex: clinicIndex}">
                  <mat-icon>more_vert</mat-icon>
                </button>

                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="info">
                    <div>{{clinicType === 'dentist' ? r?.toClinicName : r?.fromClinicName }} </div>
                    <div class="address" *ngIf="clinicType === 'specialist'">{{r?.fromClinicAddress }} </div>
                  </div>
                </div>
              </div>
            </mat-card>
            <div class="divider"></div>
          </div>
        </div>
      </div>
      <div style="height:20px"></div>
    </div>
  </mat-card>

  <div fxFlex class="c-chat">
    <app-referral-summary *ngIf="showSummary"></app-referral-summary>
    <app-chat *ngIf="!showSummary && referralId" [clinicType]="clinicType" (closeChat)="onCloseChat()"
      (filesUploaded)="onFilesUploaded()">
    </app-chat>
  </div>
</div>

<mat-menu #refMenu="matMenu">
  <ng-template matMenuContent let-refId="refId" let-documents=documents let-selectedClinicIndex="selectedClinicIndex"
    let-selectedRefIndex="selectedRefIndex">
    <button mat-menu-item (click)="referralSummary(refId)">
      <mat-icon>description</mat-icon> View Summary
    </button>

    <button mat-menu-item [disabled]="!documents" (click)="downloadFiles(refId)">
      <mat-icon>get_app</mat-icon> Download Patient Documents
    </button>

    <button mat-menu-item [matMenuTriggerFor]="statusMenu"
      [matMenuTriggerData]="{selectedRefIndex: selectedRefIndex, selectedClinicIndex: selectedClinicIndex}"
      *ngIf="clinicType === 'specialist'">
      Update Status
    </button>
  </ng-template>
</mat-menu>

<mat-menu #statusMenu="matMenu">
  <ng-template matMenuContent let-selectedClinicIndex="selectedClinicIndex" let-selectedRefIndex="selectedRefIndex">
    <button mat-menu-item *ngFor="let tab of specialistTabs; let i = index"
      (click)="updateStatus2(selectedClinicIndex, selectedRefIndex, i, tab.value)">
      {{tab.label}}
    </button>
  </ng-template>
</mat-menu>