.referrals {
  height: calc(100vh - 58px);
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  .c-chat {
    margin: 20px 20px 20px 8px;
  }
  .r {
    button {
      position: absolute;
      top: 10px;
      right: 10px;

      &.mark-complete-button {
        top: 12px;
        right: 50px;
      }
    }
    
    header {
      margin-bottom: 24px;
      margin-right: 32px;
      cursor: pointer;
      transition: 0.3s;
  
      &:hover {
        background: rgba(grey, 0.2);
      }

      h2 {
        margin: 0;
        line-height: normal;

      }

      div {
        font-size: 14px;
        opacity: 0.7;
      }
    }
  }

  .clinic-title {
    margin-bottom: 12px;

    h3 {
      margin-bottom: 0px;
    }

    span {
      font-size: 12px;
      opacity: 0.5;
    }
  }

  .info {
    .address {
      opacity: 0.7;
      font-size: 12px;
    }
  }

  .phone {
    font-size: 12px;
    opacity: 0.59;
  }

  h3 {
    margin: 28px 0  4px 0;
  }

  .summary {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  .change-status {
    margin: 12px 24px;

    mat-checkbox {
      margin-right: 16px;
    }
  }

  .scr {
    height: 100%;
    position: relative;
    padding: 20px 12px 0 12px;

    mat-tab-group {
      position: sticky;
      top: -20px;
      z-index: 10;
    }
  }

  .cs {
    height: calc(100% - 48px);
    overflow: auto;
  }

  .vert {
    width: 1px;
    background: rgba(white, 0.2);
    height: 28px;
    transform: translateY(10px);
  }

  .actions {
    transition: 0.3s;
    transform: translate(10px, -10px);
    opacity: 0.2;
  }

  .status-button {
    transition: 0.3s;
    opacity: 0.2;
  }

  .ref {
    > :first-child {
      margin-bottom: 48px;
    }

    &:hover {
      .actions, .status-button {
        opacity: 1;
      }
    }
  }

  .abs {
    top: 8px;
    left: 9px;
    position: absolute;
  }
}