<div class="referrals" fxLayout="column" fxLayoutGap="48px">
  <div class="summary" *ngIf="showSummary">
    <app-referral-summary></app-referral-summary>
  </div>

  <div fxLayout="row" fxFlex fxLayoutGap="20px" *ngIf="!showSummary">
    <div fxFlex>
      <mat-tab-group *ngIf="clinicType === 'dentist'" [(selectedIndex)]="tabIndex">
        <mat-tab label="Ongoing"></mat-tab>
        <mat-tab label="Closed"> </mat-tab>
      </mat-tab-group>

      <mat-tab-group *ngIf="clinicType === 'specialist'" [(selectedIndex)]="tabIndex">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">pending_actions</mat-icon>
            Referred
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">schedule</mat-icon>
            Scheduled
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">done</mat-icon>
            Completed
          </ng-template>
        </mat-tab>
      </mat-tab-group>

      <div *ngFor="let c of clinicReferrals; let clinicIndex = index">
        <mat-card class="c-card">
          <h3>{{c.clinicName}}</h3>
        </mat-card>
        <div>
          <table mat-table fxFlex [dataSource]="c.referrals[tabIndex]" class="mat-elevation-z8">
            <ng-container matColumnDef="dateReferred">
              <th mat-header-cell *matHeaderCellDef> Referred </th>
              <td mat-cell *matCellDef="let element"> {{element.createdOn | date:"MMM dd, yyyy"}} </td>
            </ng-container>

            <ng-container matColumnDef="patientName">
              <th mat-header-cell *matHeaderCellDef> Patient </th>
              <td mat-cell *matCellDef="let element">
                <div>
                  {{element.patientFirstName}} {{element.patientLastName}}
                </div>
                <div class="phone">{{element.patientPhone.replace('+1', '') | mask: '(000) 000-0000'}}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="referringClinic">
              <th mat-header-cell *matHeaderCellDef> Referring Clinic </th>
              <td mat-cell *matCellDef="let element">
                <div>
                  {{clinicType === 'dentist' ? element?.toClinicName : element?.fromClinicName }}
                </div>
                <div *ngIf="clinicType === 'specialist'" class="phone">
                  {{element?.fromClinicAddress }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element; let i = index;">
                <button color="primary" [disabled]="!element.status || element.status.gdStatus !== 'completed'"
                  mat-raised-button
                  (click)="markStatusDentist(i, 'closed')">{{element.status ? element.status.gdStatus === 'completed' ? 'Ready to Close': referredStatuses[element.status.gdStatus].label  : 'No status'}}</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions</th>
              <td mat-cell style="white-space:nowrap" *matCellDef="let element; let i = index;">
                <button [matMenuTriggerFor]="appMenu"
                  [matMenuTriggerData]="{selectedRefIndex: i, selectedClinicIndex: clinicIndex}" mat-stroked-button
                  *ngIf="clinicType === 'specialist' && tabIndex < 2">
                  {{referredStatuses[element.status.gdStatus].label}} <mat-icon>arrow_drop_down</mat-icon>
                </button>

                <button mat-icon-button matTooltip="Referral Summary" matTooltipPosition="above"
                  matTooltipShowDelay="750" (click)="referralSummary(element.referralId)">
                  <mat-icon>description</mat-icon>
                </button>

                <button mat-icon-button [disabled]="!element.documents" matTooltipShowDelay="750"
                  matTooltip="Download Patient Documents" matTooltipPosition="above"
                  (click)="downloadFiles(element.referralId)">
                  <mat-icon>get_app</mat-icon>
                </button>

                <button mat-icon-button (click)="referralChat(element.referralId)" matTooltipShowDelay="750"
                  matTooltip="Message Clinic or Patient" matTooltipPosition="above">
                  <mat-icon>chat</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="referralColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: referralColumns;"></tr>
          </table>
        </div>
      </div>
    </div>

    <div class="c-chat" [@slideInOut] *ngIf="referralId">
      <app-chat (filesUploaded)="onFilesUploaded()"></app-chat>
    </div>
  </div>
</div>

<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-selectedClinicIndex="selectedClinicIndex" let-selectedRefIndex="selectedRefIndex">
    <button mat-menu-item
      (click)="updateStatus2(selectedClinicIndex, selectedRefIndex, tabIndex, specialistTabs[tabIndex].value)">{{specialistTabs[tabIndex].label}}</button>
  </ng-template>
</mat-menu>