.referrals {
  min-height: calc(100vh - 58px);
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;

  .clinic-title {
    margin-bottom: 12px;

    h3 {
      margin-bottom: 0px;
    }

    span {
      font-size: 12px;
      opacity: 0.5;
    }
  }

  .phone {
    font-size: 12px;
    opacity: 0.59;
  }

  h3 {
    margin: 28px 0  4px 0;
  }

  .summary {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  .change-status {
    margin: 12px 24px;

    mat-checkbox {
      margin-right: 16px;
    }
  }

  .c-chat {
    width: 375px;
    overflow-x: hidden;
    padding: 0 4px;
  }

  .vert {
    width: 1px;
    background: rgba(white, 0.2);
    height: 28px;
    transform: translateY(10px);
  }

  .actions {
    transition: 0.3s;
    transform: translate(10px, -10px);
    opacity: 0.2;
  }

  .status-button {
    transition: 0.3s;
    opacity: 0.2;
  }

  .ref {
    > :first-child {
      margin-bottom: 48px;
    }

    &:hover {
      .actions, .status-button {
        opacity: 1;
      }
    }
  }

  .abs {
    top: 8px;
    left: 9px;
    position: absolute;
  }
}