.referrals {
  height: calc(100vh - 58px);
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  .channel-tab {
    position: relative;
    border-bottom: 1px solid rgba(grey, 0.2);
  
    &::before {
      content: "";
      position: absolute;
      background: var(--blue);
      height: 2px;
      width: 130px;
      bottom: 0;
      left: 0px;
      transition: 0.3s;
    }

    &.c1::before {
      left: 130px;
    }
    &.c2::before {
      left: 260px;
    }
    &.c3::before {
      left: 390px;
    }
    
    > div {
      text-align: center;
      cursor: pointer;
      width: 130px;
      box-sizing: border-box;
      padding: 14px 16px;
      opacity: 0.5;
      transition: 0.3s;
      
      &.active {
        opacity: 1;
      }
    }
  }

  .divider {
    height: 1px;
    background: rgba(grey, 0.2);
  }

  .example-tab-icon {
    margin-right: 8px; 
  }

  .c-chat {
    margin: 20px 20px 20px 8px;
  }

  .more-actions {
    transform: translate(10px, -10px);
  }

  .r {
    > div {
      cursor: pointer;
      transition: 0.3s;
      padding: 12px;

      &:hover {
        background: rgba(grey, 0.1);
      }
    }

    button {
      position: absolute;
      top: 10px;
      right: 10px;

      &.mark-complete-button {
        top: 12px;
        right: 50px;
      }
    }
    
    header {
      margin-bottom: 16px;
      margin-right: 32px;

      h2 {
        margin: 0;
        font-size: 16px;
        line-height: normal;

      }

      div {
        font-size: 14px;
        opacity: 0.7;
      }
    }
  }

  .clinic-title {
    margin-bottom: 12px;

    h2 {
      margin-top: 24px;
      margin-bottom: 0px;
    }

    span {
      font-size: 12px;
      opacity: 0.5;
    }
  }

  .info {
    .address {
      opacity: 0.7;
      font-size: 12px;
    }
  }

  .phone {
    font-size: 12px;
    opacity: 0.59;
  }

  h3 {
    margin: 28px 0  4px 0;
  }

  .summary {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  .change-status {
    margin: 12px 24px;

    mat-checkbox {
      margin-right: 16px;
    }
  }

  .scr {
    height: calc(100% - 40px);
    position: relative;
    padding: 0;
    margin: 20px 10px;

    mat-tab-group {
      position: sticky;
      top: -20px;
      z-index: 10;
    }
  }

  .cs {
    height: calc(100% - 48px);
    overflow: auto;
  }

  .vert {
    width: 1px;
    background: rgba(white, 0.2);
    height: 28px;
    transform: translateY(10px);
  }

  .actions {
    transition: 0.3s;
    transform: translate(10px, -10px);
    opacity: 0.2;
  }

  .status-button {
    transition: 0.3s;
    opacity: 0.2;
  }

  .ref {
    > :first-child {
      margin-bottom: 48px;
    }

    &:hover {
      .actions, .status-button {
        opacity: 1;
      }
    }
  }

  .abs {
    top: 8px;
    left: 9px;
    position: absolute;
  }
}