<div class="eligibility-benefits" fxLayout="column">
  <div fxLayout="row" class="search-bar" fxLayoutGap="20px">
    <div class="sd-input patients" fxFlex>
      <input type="email" [(ngModel)]="patientFilter" (ngModelChange)="filterPatientList()"
        placeholder="Search for patient">
    </div>
    <span fxFlex></span>
    <button mat-raised-button (click)="showInsurance = true">Insurance check</button>
  </div>

  <div fxLayout="row" fxLayoutGap="24px" class="overflow">
    <mat-card class="c-card patients">
      <div class="fix" *ngIf="showInsurance">
        <app-insurance-registration [dentalCompanies]="dentalCompanies" (cancelRegistration)="onCancelRegistration()"
          [clinics]="clinics" [canCancel]="true">
        </app-insurance-registration>
      </div>

      <div *ngFor="let clinic of clinics; let i = index">
        <div fxLayout="row" fxLayoutAlign=" start">
          <h3 fxFlex>{{clinic.name}}</h3>
        </div>
        <div [ngClass]="{'active': selectedPatient?.patientId === patient.patientId}"
          (click)="selectPatient(patient, clinic.addressId)" class="patient-items"
          *ngFor="let patient of filteredPatients[i]" fxLayout="column">
          <app-patient-list-item [patient]="patient"></app-patient-list-item>
        </div>
      </div>
    </mat-card>

    <mat-card class="c-card patient-details" fxFlex *ngIf="selectedPatient" fxLayout="column">
      <app-patient-details [months]="months" [patient]="selectedPatient" [patientCoverage]="notes.patientCoverage">
      </app-patient-details>

      <mat-card style="margin-top:20px">
        <app-codes [savedCodes]="notes.codes" [codes]="savedCodes"></app-codes>
      </mat-card>

      <mat-card>
        <app-history [allCodes]="allCodes" [savedHistory]="codeHistory" [history]="notes.history"></app-history>
      </mat-card>

      <mat-card>
        <app-remarks [remarks]="notes.remarks"></app-remarks>
      </mat-card>
    </mat-card>
  </div>
</div>