<mat-menu #clinicMenu="matMenu" [overlapTrigger]="true">
  <ng-template matMenuContent>
    <app-clinic-menu (changeClinic)="onChangeClinic($event)" [clinics]="clinics"></app-clinic-menu>
  </ng-template>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="patientMenu">Patient name</button>
</mat-menu>

<mat-menu #patientMenu="matMenu">
  <button mat-menu-item (click)="sortBy('patient', 'az')">A -> Z</button>
  <button mat-menu-item (click)="sortBy('patient', 'za')">Z -> A</button>
</mat-menu>

<div class="eligibility-benefits" fxLayout="column">
  <div class="search-bar">
    <mat-card class="c-card" fxLayout="row" fxLayoutAlign=" start">
      <mat-card class="c-card">
        <div class="selected-clinic" [matMenuTriggerFor]="clinicMenu">
          <header class="no-m">{{selectedClinic?.name}}</header>
          <div class="lighter">{{selectedClinic?.address}}</div>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </mat-card>

      <span fxFlex></span>
      <!-- <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>sort</mat-icon> Sort by
      </button> -->

      <button fxFlex="150px" mat-raised-button (click)="showInsurance = true">Insurance check</button>
    </mat-card>
  </div>
  <mat-card class="c-card" fxLayout="row" fxLayoutAlign=" end" fxLayoutGap="20px">
    <mat-form-field appearance="fill">
      <mat-label>Patient date range filter</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate (dateChange)="closeDate()" [(ngModel)]="startDate" style="font-size:14px"
          placeholder="Start date">
        <input matEndDate (dateChange)="closeDate()" [(ngModel)]="endDate" style="font-size:14px"
          placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <div class="sd-input search" style="width: 300px">
      <input type="text" [(ngModel)]="patientFilter" (ngModelChange)="filterPatientList()"
        placeholder="Search for patient">
    </div>
  </mat-card>

  <mat-card class="c-card patients">
    <div class="fix" *ngIf="showInsurance">
      <app-insurance-registration [dentalCompanies]="dentalCompanies" (cancelRegistration)="onCancelRegistration()"
        [clinics]="clinics" [canCancel]="true">
      </app-insurance-registration>
    </div>
    <mat-card class="clinic-list mat-elevation-z8">
      <mat-progress-bar *ngIf="loading" mode="indeterminate" class="abs"></mat-progress-bar>
      <div class="p-table">
        <table mat-table [dataSource]="filteredPatients">
          <ng-container matColumnDef="appointment">
            <th mat-header-cell *matHeaderCellDef> Appointment </th>
            <td mat-cell *matCellDef="let element"> {{element.dueDate | date:"MMM dd, YYYY"}} </td>
          </ng-container>

          <ng-container matColumnDef="patient">
            <th mat-header-cell *matHeaderCellDef> Patient / Date of Birth </th>
            <td mat-cell *matCellDef="let element">
              <div>
                <div>{{element?.firstName}} {{element?.lastName}} </div>
                <div class="lighter">
                  {{months[element.dob.month]}} {{element.dob.day}}, {{element.dob.year}}
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="insurance">
            <th mat-header-cell *matHeaderCellDef> Insurance</th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let insurance of element.dentalInsurance">
                <div fxLayout="row" fxLayoutGap="8px">
                  <div class="right" fxFlex="13px">D</div>
                  <div>{{insurance?.company}}</div>
                </div>
              </div>
              <div *ngFor="let insurance of element.medicalInsurance">
                <div fxLayout="row" fxLayoutGap="8px">
                  <div class="right" fxFlex="13px">M</div>
                  <div>{{insurance?.company}}</div>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let insurance of element.dentalInsurance">
                <div fxLayout="row" fxLayoutGap="8px">
                  <div class="right" fxFlex="13px">D</div>
                  <div>{{insurance?.status.label}}</div>
                </div>
              </div>
              <div *ngFor="let insurance of element.medicalInsurance">
                <div fxLayout="row" fxLayoutGap="8px">
                  <div class="right" fxFlex="13px">M</div>
                  <div>{{insurance?.status.label}}</div>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="patientColumns; sticky: true"></tr>
          <tr mat-row (click)="selectPatient(row)" *matRowDef="let row; columns: patientColumns;"></tr>
        </table>
      </div>
      <div class="pager" fxLayout="row" fxLayoutAlign="end center">
        <span class="lighter m-right">Patients per page</span>
        <mat-form-field class="count">
          <mat-select [(ngModel)]="pageSize" (selectionChange)="changePageSize()">
            <mat-option *ngFor="let a of [5, 10, 20, 50, 100]" [value]="a">{{a}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span class="m-right2"></span>
        <button mat-icon-button (click)="back()" [disabled]="loading || cursorAddress === 0">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button (click)="forward()" [disabled]="loading">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-card>
</div>