.eligibility-benefits {
  padding: 20px 20px 20px 10px;
  box-sizing: border-box;

  .e-list {
    width: 340px;
    
    .e-list-item {
      padding: 16px 8px;
      cursor: pointer;
      border-bottom: 1px solid rgba(grey, 0.5);

      &:hover {
        background: rgba(grey, 0.2);
      }
    }
  }

  .clinic-name {
    font-size: 16px;
  }

  .clinic-address {
    opacity: 0.5;
    font-size: 12px;
  }
}