<div class="eligibility-benefits" fxLayout="column">
  <mat-card class="c-card note">
    <div>Hey! This page is a bit of a secret 😊</div>
    <div> While we work on it, you can submit any patient’s dental insurance through the ‘Insurance Check’
      portal. We will email you with your patient’s <span class="darken">benefits breakdown</span> within ~3 hours.
    </div>
  </mat-card>
  <div fxLayout="row" class="search-bar" fxLayoutGap="20px">
    <div class="sd-input patients" fxFlex>
      <input type="email" [(ngModel)]="patientFilter" (ngModelChange)="filterPatientList()"
        placeholder="Search for patient">
    </div>
    <span fxFlex></span>
    <button mat-raised-button (click)="showInsurance = true">Insurance check</button>
  </div>

  <div fxLayout="row" fxLayoutGap="24px" class="overflow">
    <mat-card class="c-card patients">
      <div class="fix" *ngIf="showInsurance">
        <app-insurance-registration (cancelRegistration)="onCancelRegistration()" [clinics]="clinics"
          [canCancel]="true">
        </app-insurance-registration>
      </div>

      <div *ngFor="let clinic of clinics; let i = index">
        <div fxLayout="row" fxLayoutAlign=" start">
          <h3 fxFlex>{{clinic.name}}</h3>
        </div>
        <div [ngClass]="{'active': selectedPatient?.patientId === patient.patientId}" (click)="selectPatient(patient)"
          class="patient-items" *ngFor="let patient of filteredPatients[i]" fxLayout="column">

          <div class="patient-name" fxLayout="row" fxLayoutAlign="center">
            <div class="name" fxFlex>
              {{patient.firstName}} {{patient.lastName}}
            </div>
            <div class="lighter" *ngIf="patient.createdOn">
              {{patient.createdOn | date:"MMM dd, yyyy"}}
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="20px">
            <div fxFlex="50" *ngIf="patient.dentalInsurance && patient.dentalInsurance[0]">
              <div>{{patient.dentalInsurance[0]?.company}}</div>
              <div class="lighter" *ngIf="patient.dentalInsurance[0].memberId">
                {{patient.dentalInsurance[0]?.memberId}}</div>
            </div>

            <div fxFlex="50" *ngIf="patient.medicalInsurance && patient.medicalInsurance[0]">
              <div>{{patient.medicalInsurance[0]?.company}}</div>
              <div class="lighter" *ngIf="patient.medicalInsurance[0].memberId">
                {{patient.medicalInsurance[0].memberId}}</div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card class="c-card patient-details" fxFlex *ngIf="selectedPatient" fxLayout="column" fxLayoutGap="24px">
      <div fxLayout="row">
        <div fxLayout="column" fxFlex>
          <h3 class="no-margin">{{selectedPatient.firstName}} {{selectedPatient.lastName}}</h3>
          <div class="lighter" *ngIf="selectedPatient.createdOn">
            {{selectedPatient.firstName}} was registered {{selectedPatient.createdOn | date:"MMM dd, yyyy"}}
          </div>
          <div class="lighter" *ngIf="selectedPatient.dob">
            {{selectedPatient.firstName}}'s birthday {{months[selectedPatient.dob.month].label}}
            {{selectedPatient.dob.day}},
            {{selectedPatient.dob.year}}
          </div>
        </div>
        <button mat-icon-button (click)="selectedPatient = undefined">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div>
        <h4>Dental Insurance</h4>
        <div *ngFor="let dInsurance of selectedPatient.dentalInsurance">
          <div>{{dInsurance.company}}</div>
          <div class="lighter" *ngIf="dInsurance.memberId">Member ID: {{dInsurance.memberId}}</div>

          <div fxLayout="column" *ngIf="dInsurance.subscriber && dInsurance.subscriber.firstName">
            <div class="lighter">Subscriber Name: {{dInsurance.subscriber.firstName}} {{dInsurance.subscriber.lastName}}
            </div>
            <div class="lighter">Subscriber birthday: {{months[dInsurance.subscriber.dob.month].label}}
              {{dInsurance.subscriber.dob.day}},
              {{dInsurance.subscriber.dob.year}} </div>
          </div>
        </div>
      </div>

      <div class="divider" *ngIf="selectedPatient.medicalInsurance && selectedPatient.dentalInsurance"></div>

      <div *ngIf="selectedPatient.medicalInsurance">
        <h4>Medical Insurance</h4>

        <div *ngFor="let mInsurance of selectedPatient.medicalInsurance">
          <div>{{mInsurance.company}}</div>
          <div class="lighter" *ngIf="mInsurance.memberId">Member ID: {{mInsurance.memberId}}</div>

          <div fxLayout="column" *ngIf="mInsurance.subscriber && mInsurance.subscriber.firstName">
            <div class="lighter">Subscriber Name: {{mInsurance.subscriber.firstName}} {{mInsurance.subscriber.lastName}}
            </div>
            <div class="lighter">Subscriber Birthday: {{months[mInsurance.subscriber.dob.month].label}}
              {{mInsurance.subscriber.dob.day}},
              {{mInsurance.subscriber.dob.year}} </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>