:host {
  height: 100%;
  position: relative;
}

.eligibility-benefits {
  padding: 20px 0 0 10px;
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;

  .note {
    max-width: 400px;
    margin-bottom: 24px;
  }

  .search-bar {
    height: 42px;
    padding-right: 20px;
  }

  .overflow {
    height: calc(100% - 42px);
    position: relative;
    overflow: auto;
    padding: 20px 20px 20px 0;
    box-sizing: border-box;
  }

  .fix {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 56px);
    top: 56px;
    left: 0;
    width: 100vw;
    overflow: auto;
    z-index: 4;
    background: linear-gradient(90deg, #3b3d42, #232425);
  }

  .patients {
    width: 40%;
    max-width: 400px;
    min-width: 300px;
  }

  .patient-items {
    min-height: 50px;
    border-top: 1px solid rgba(grey, 0.2);
    transition: 0.3s;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    position: relative;

    &.active {
      background: rgba(grey, 0.1);

      ::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: var(--ac-blue);
        width: 3px;
      }
    }

    &:hover {
      background: rgba(grey, 0.1);
    }
  }

  .name {
    font-size: 16px;
  }

  .patient-details {
    max-width: 1200px;
  }

  .lighter {
    opacity: 0.5;
    font-size: 12px;
  }

  .patient-name {
    margin-bottom: 24px;
  }

  .divider {
    height: 1px;
    background: rgba(grey, 0.2);
  }

  .no-margin {
    margin: 0;
  }
}