<mat-card class="c-card insurance" ngClass.lt-md="smaller" fxLayout="column" fxLayoutAlign=" center">

  <input style="display:none" #refPhotoEl type="file" accept="image/*">

  <form *ngIf="state === patientStates.Form || state === patientStates.Processing" fxLayout="column" fxLayoutGap="36px"
    autocomplete="off" [formGroup]="insuranceForm">
    <h3>Patient Info</h3>
    <div class="sd-input">
      <label>First Name</label>
      <input type="text" #firstName autocomplete="off" formControlName="firstName">
    </div>

    <div class="sd-input">
      <label>Last Name</label>
      <input type="text" autocomplete="off" formControlName="lastName">
    </div>
    <!-- 
    <div class="sd-input">
      <label>Email</label>
      <input type="text" autocomplete="off" formControlName="email">
    </div>

    <div class="sd-input">
      <label>Phone Number</label>
      <input autocomplete="off" mask='(000) 000-0000' [showMaskTyped]="true" formControlName="phoneNumber">
    </div> 
  -->

    <!-- 
      <div class="sd-input">
      <label>SSN</label>
      <input autocomplete="off" mask='(000) 000-0000' [showMaskTyped]="true" formControlName="phoneNumber">
    </div>
   -->

    <div fxLayout="row" formGroupName="dob" fxLayoutGap="12px">
      <div class="sd-input">
        <label>Birthday</label>
        <select formControlName="month">
          <option *ngFor="let month of months" [value]="month.value">{{month.label}}</option>
        </select>
      </div>
      <div class="sd-input">
        <label></label>
        <select formControlName="day">
          <option *ngFor="let day of days" [value]="day">{{day}}</option>
        </select>
      </div>
      <div class="sd-input">
        <label></label>
        <select formControlName="year">
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
      </div>
    </div>

    <div class="dental-insurance" fxLayout="column">
      <ng-container formGroupName="dentalInsurance">
        <h3>Dental Insurance</h3>
        <div class="sd-input">
          <label>Company</label>
          <input autocomplete="off" type="text" formControlName="company">
        </div>

        <div class="sd-input">
          <label>Member Id</label>
          <input autocomplete="off" type="text" formControlName="memberId">
        </div>
        <div class="subscriber">
          Are you the subscriber?
          <mat-slide-toggle [checked]="subscriber"></mat-slide-toggle>
        </div>
        <ng-container *ngIf="subscriber">
          <div class="sd-input">
            <label>First Name</label>
            <input autocomplete="off" type="text" formControlName="memberId">
          </div>

          <div class="sd-input">
            <label>Last Name</label>
            <input autocomplete="off" type="text" formControlName="memberId">
          </div>

        </ng-container>
      </ng-container>
      <div>
        <button mat-raised-button *ngIf="!moreDental" (click)="addDentalInsurance()">Additional Dental
          Insurance</button>
        <button mat-raised-button *ngIf="moreDental" (click)="removeDentalInsurance()">Remove Dental
          Insurance</button>
      </div>

      <ng-container *ngIf="moreDental" formGroupName="dentalInsurance2">
        <div class="sd-input">
          <label>Company</label>
          <input required autocomplete="off" type="text" formControlName="company">
        </div>

        <div class="sd-input">
          <label>Member Id</label>
          <input required autocomplete="off" type="text" formControlName="memberId">
        </div>
      </ng-container>
    </div>

    <!-- <div class="subscriber" fxLayout="column">
      <mat-slide-toggle [checked]="subscriber">Are you the subscriber?</mat-slide-toggle>
    </div> -->

    <!-- <div class="medical-insurance" fxLayout="column" fxLayoutGap="36px" formGroupName="medicalInsurance">
      <h3>Medical Insurance</h3>
      <div class="sd-input">
        <label>Company</label>
        <input autocomplete="off" type="text" formControlName="company">
      </div>

      <div class="sd-input">
        <label>Group Number</label>
        <input autocomplete="off" type="text" formControlName="groupNumber">
      </div>

      <div class="sd-input">
        <label>Member Id</label>
        <input autocomplete="off" type="text" formControlName="memberId">
      </div>
    </div> -->

    <button (click)="submit()" [disabled]="!insuranceForm.valid" mat-raised-button color="primary">
      <mat-progress-spinner *ngIf="state === patientStates.Processing" mode="indeterminate" diameter="24">
      </mat-progress-spinner>
      Submit Insurance
    </button>
  </form>

  <div *ngIf="state === patientStates.Success" class="completed">
    Your insurance was submitted
  </div>

</mat-card>