<mat-card class="c-card insurance" ngClass.lt-md="smaller" fxLayout="column" fxLayoutAlign=" center">

  <input style="display:none" #refPhotoEl type="file" accept="image/*">

  <h1>Please submit your insurance for an accurate copay.</h1>


  <form *ngIf="state === patientStates.Form || state === patientStates.Processing" fxLayout="column" fxLayoutGap="36px"
    autocomplete="off" [formGroup]="insuranceForm">
    <h3>Patient Info</h3>
    <div class="sd-input">
      <label>First Name</label>
      <input type="text" #firstName autocomplete="off" formControlName="firstName">
    </div>

    <div class="sd-input">
      <label>Last Name</label>
      <input type="text" autocomplete="off" formControlName="lastName">
    </div>

    <app-dob [dobGroup]="insuranceForm.controls.dob"></app-dob>

    <div class="add-insurances" fxLayout="column">
      <div class="hinsurance">
        <h3>What insurance would you like to add?</h3>
        <span>You can add multiple.</span>
      </div>

      <div fxLayout="row" fxLayoutGap="20px">
        <button fxFlex mat-raised-button (click)="addDentalInsurance()">Dental</button>
        <button fxFlex mat-raised-button (click)="addMedicalInsurance()">Medical</button>
      </div>

      <div class="insurance-summary" fxLayout="column" *ngFor="let insurance of insurances; let i = index">
        <header fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
          <h3>{{insurance.groupNumber ? 'Medical Insurance' : 'Dental Insurance'}}</h3>
          <button mat-button (click)="removeInsurance(i)">Remove</button>
        </header>

        <div fxLayout="row" fxLayoutGap="16px">
          <div fxFlex class="detail">
            <div>Company</div>
            <div>{{insurance.company}}</div>
          </div>
          <div fxFlex class="detail">
            <div>Member Id</div>
            <div>{{insurance.memberId}}</div>
          </div>
        </div>
        <div class="detail" *ngIf="insurance.groupNumber">
          <div>Group Number</div>
          <div>{{insurance.groupNumber}}</div>
        </div>

        <div class="detail sub" *ngIf="insurance.subscriber">
          <div>{{insurance.subscriber.firstName}} {{insurance.subscriber.lastName}}</div>
          <div>
            {{insurance.subscriber.dob.month}} {{insurance.subscriber.dob.day}}, {{insurance.subscriber.dob.year}}
          </div>
        </div>
      </div>
    </div>

    <button [disabled]="!insuranceForm.valid || insurances.length === 0" (click)="submit()" mat-raised-button
      color="primary">
      <mat-progress-spinner *ngIf="state === patientStates.Processing" mode="indeterminate" diameter="24">
      </mat-progress-spinner>
      Submit Insurance
    </button>
  </form>

  <div *ngIf="state === patientStates.Success" class="completed">
    Your insurance was submitted
  </div>

  <div class="adding-insurance" [@slideIn] *ngIf="selectedDental || selectedMedical">
    <div>
      <app-dental-insurance header="Dental Insurance" *ngIf="selectedDental" (cancel)="onCancel()"
        (addInsurance)="onAddInsurance($event)">
      </app-dental-insurance>
      <app-medical-insurance *ngIf="selectedMedical" (cancel)="onCancel()" (addInsurance)="onAddInsurance($event)">
      </app-medical-insurance>
    </div>
  </div>

</mat-card>