<h2 mat-dialog-title>Email Reset Password Link</h2>

<mat-dialog-content>
  <span class="lighten">We will email a reset password link to</span> {{user?.email}}
</mat-dialog-content>

<mat-dialog-actions class="actions" fxLayoutAlign="space-between" fxLayout="row">
  <button mat-raised-button mat-dialog-close [disabled]="loading">Cancel</button>
  <button mat-raised-button color="primary" (click)="resetPassword()" [disabled]="loading">
    {{loading === false ? 'Send Email': 'Sending... '}}
  </button>
</mat-dialog-actions>