.verify-email {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: auto;

  .content {
    padding-top: 150px;
    width: 700px;
    margin: 0 auto;

    img {
      height: 62px;
    }

    h3 {
      font-size: 30px;
      margin: 0;
    }

    p {
      margin-top: 42px;
      margin-bottom: 32px;
      text-align: center;
      color: rgba(white, 0.5);

      b {
        font-weight: 500;
        color: white;
      }
    }
  }

  .change-email {
    margin-top: 150px;
  }
}