<mat-card class="clinics mat-elevation-z5">
  <mat-progress-bar *ngIf="loading" mode="indeterminate" class="abs"></mat-progress-bar>
  <div class="c-table">
    <table mat-table [dataSource]="clinics" class="mat-elevation-z8">

      <ng-container matColumnDef="clinicName">
        <th mat-header-cell *matHeaderCellDef> Clinic </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="getPatients(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="pager" fxLayout="row" fxLayoutAlign="end center">
    <span class="lighter m-right">Clinics per page</span>
    <mat-form-field class="count">
      <mat-select [(ngModel)]="pageSize" (selectionChange)="changePageSize()">
        <mat-option *ngFor="let a of [5, 10, 20, 50, 100]" [value]="a">{{a}}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="m-right2"></span>
    <button mat-icon-button (click)="back()" [disabled]="loading || !previousCursor">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button (click)="forward()" [disabled]="loading || !nextCursor">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</mat-card>