.clinics {
  height: calc(100% - 40px);
  width: calc(100% - 30px);
  box-sizing: border-box;
  padding: 0;
  margin: 20px 20px 20px 10px;

  .abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  table {
    width: 100%;
  }

  .lighter {
    font-size: 12px;
    opacity: 0.5;
  }

  .m-right {
    margin-right: 8px;
  }

  .m-right2 {
    margin-right: 20px;
  }

  .count {
    width: 50px;
  }

  .c-table {
    height: calc(100% - 56px);
    overflow: auto;
  }
  
  .mat-row {
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background: rgba(grey, 0.2) !important;
    }
  }
}
