.specialist {
  min-height: 100%;
  position: relative;
  padding: 12px;
  margin-top: 48px;

  .actions {
    transform: translate(10px, -10px);
  }

  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    margin: 0 auto;
    max-width: 900px
  }

  .sd-card {
    height: 175px;
    position: relative;

    img {
      height: 100%;
    }

    .specialist-title {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 8px;
    }

    .specialist-type {
      font-weight: 400;
      color: rgba(white, 0.8);
      text-transform: capitalize;
      font-size: 14px;
    }
  }

  .contact-info {
    color: rgba(white, 0.5);
  }
}