<div class="specialist">

  <div class="container" fxLayout="column" fxLayoutGap="48px">
    <div class="search-clinic" fxLayout="row" fxLayoutAlign="space-between">
      <h2>Specialists</h2>
      <button mat-raised-button (click)="editFavorites()" [disabled]="loading">Edit Favorites</button>
    </div>

    <div class="list" fxLayout="column" fxLayoutGap="52px">
      <app-loader class="loading" *ngIf="loading"></app-loader>
      <div class="sd-card" fxLayout="row" fxLayoutGap="24px" *ngFor="let a of favoriteClinics">
        <div fxFlex fxLayout="column">
          <div class="specialist-title" fxLayout="row" fxLayoutAlign="space-between start">
            <div fxLayout="column">
              <span>{{a.name}}</span>
              <div class="specialist-type" *ngIf="a.types">{{a.types[0]}}</div>
            </div>
          </div>

          <span fxFlex></span>

          <div class="contact-info" fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="12px">
            <div fxLayout="column">
              <span>{{a.formatted_phone_number}}</span>
              <span>{{a.formatted_address}}</span>
            </div>
            <button mat-raised-button (click)="createReferral(a)">Create Referral</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>