<div class="specialist" fxLayout="row">
  <div class="list" [ngClass]="{'fade': showCreateReferral || showTreatmentSummary || selectedQr}" fxFlex="500px"
    fxLayout="column" fxLayoutGap="24px">
    <!-- <div class="sd-input">
      <label>Search for a clinic</label>
      <input type="text" [(ngModel)]="searchFilter">
    </div> -->
    <!-- <div>
      <button *ngIf="clinicType === 'specialist'" mat-raised-button (click)="editFavorites()" [disabled]="loading">Edit
        Referring Clinics</button>
    </div> -->

    <app-loader class="loading" *ngIf="loading"></app-loader>

    <mat-card class="c-card note" *ngIf="!loading && favoriteClinics.length === 0 && clinicType === 'specialist'">
      You haven't added any referring clinics yet.
    </mat-card>

    <div fxLayout="column" *ngFor="let a of favoriteClinics; let l = last">
      <mat-card class="c-card favorite-specialist" fxLayout="column" fxFlex="0 0 auto">
        <div fxLayout="row">
          <div fxFlex fxLayout="column">
            <div class="specialist-type">{{a.type}}</div>
            <div #favoriteCardEls class="specialist-title">{{a.name}} </div>

            <div class="rating" *ngIf="a.rating">
              <span class="score">{{a.rating}}</span>
              <div class="stars" [style]="'--rating: ' + a.rating"></div>
              <span class="count">({{a.ratingCount}})</span>
              <ng-container *ngIf="a.types">&middot; {{a.types[0]}}</ng-container>
            </div>

            <div *ngIf="a.verified" class="verified" fxLayout="row" fxLayoutAlign=" center">
              <mat-icon color="primary">verified</mat-icon>
              Verified Clinic
            </div>
          </div>

          <app-address [address]="a.address" [phoneNumber]="a.phoneNumber"></app-address>
        </div>

        <div fxFlex></div>

        <div class="deets" fxLayout="column" fxLayoutAlign=" start">
          <button *ngIf="a.qrCode" mat-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{myClinic: a}">
            <mat-icon>qr_code_2</mat-icon> View QR
          </button>

          <button mat-button *ngIf="clinicType === 'dentist'" (click)="createReferral(a, favoriteCardEls)">
            <mat-icon>pending_actions</mat-icon> Create Referral
          </button>

          <button mat-button *ngIf="clinicType === 'specialist'" (click)="createTreatmentSummary(a, favoriteCardEls)">
            <mat-icon>pending_actions</mat-icon> Create Treatment Summary
          </button>
        </div>
      </mat-card>

      <div class="divider" *ngIf="!l"></div>
    </div>

    <!-- <mat-card class="favorite-specialist" *ngIf="networkClinics && networkClinics.length !== 0" fxLayout="row"
      fxLayoutAlign=" center" fxLayoutGap="12px" class="network-message c-card">
      <div class="l" fxFlex="48px"></div>
      <div class="message">Clinics who favorited you</div>
      <div class="l" fxFlex></div>
    </mat-card>

    <mat-card class="favorite-specialist" fxFlex="0 0 auto" fxLayout="column" *ngFor="let a of networkClinics">
      <mat-icon class="verified" *ngIf="a.verified" color="primary">verified</mat-icon>
      <div #favoriteCardEls class="specialist-title">{{a.name}} </div>

      <div>{{a.type}}</div>

      <div class="rating" *ngIf="a.rating">
        <span class="score">{{a.rating}}</span>
        <div class="stars" [style]="'--rating: ' + a.rating"></div>
        <span class="count">({{a.ratingCount}})</span>
        <ng-container *ngIf="a.types">&middot; {{a.types[0]}}</ng-container>
      </div>

      <div>{{a.phoneNumber}}</div>
      <div>{{a.address}}</div>

      <div fxFlex></div>

      <div *ngIf="clinicType === 'dentist'">
        <button mat-raised-button (click)="createReferral(a, favoriteCardEls)">Create Referral</button>
      </div>

      <div *ngIf="clinicType === 'specialist'">
        <button mat-raised-button [matMenuTriggerFor]="appMenu"
          [matMenuTriggerData]="{clinicForTreatment: a, favoritesEl: favoriteCardEls}">
          Create Treatment Summary <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </div>
    </mat-card> -->
  </div>

  <div class="selected-referral" #refEl>
    <mat-card class="favorite-specialist" fxLayout="column" fxLayoutAlign=" start">
      <div class="specialist-type">{{selectedReferral?.type}}</div>

      <div #refCardEl class="specialist-title">{{selectedReferral?.name}}</div>

      <div class="rating" *ngIf="selectedReferral && selectedReferral.rating">
        <span class="score">{{selectedReferral.rating}}</span>
        <div class="stars" [style]="'--rating: ' + selectedReferral.rating"></div>
        <span class="count">({{selectedReferral.ratingCount}})</span>
        <ng-container *ngIf="selectedReferral.types">&middot; {{selectedReferral.types[0]}}</ng-container>
      </div>

      <div *ngIf="selectedReferral?.verified" class="verified" fxLayout="row" fxLayoutAlign=" center">
        <mat-icon color="primary">verified</mat-icon>
        Verified Clinic
      </div>

      <app-address [address]="selectedReferral?.address" [phoneNumber]="selectedReferral?.phoneNumber"></app-address>
    </mat-card>
  </div>

  <div [@fade] class="create-referral" *ngIf="showCreateReferral">
    <mat-card>
      <app-create-referral (cancel)="cancel()" [fromAddressId]="addressId" [specialty]="selectedSpecialty"
        [placeId]="selectedPlaceId">
      </app-create-referral>
    </mat-card>
  </div>

  <div [@fade] class="create-referral" *ngIf="showTreatmentSummary">
    <mat-card>
      <app-create-treatment-summary (cancel)="cancel()" [clinics]="clinics" [fromPlaceId]="selectedPlaceId">
      </app-create-treatment-summary>
    </mat-card>
  </div>

  <div [@fade] class="create-referral" *ngIf="selectedQr">
    <mat-card>
      <app-qr (cancel)="cancel()" [clinic]="selectedQr"></app-qr>
    </mat-card>
  </div>

  <div class="create-referral map" [ngClass]="{'active': !showCreateReferral && !showTreatmentSummary && !selectedQr}"
    #refMap>
  </div>
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent let-myClinic="myClinic">
      <app-qr [clinic]="myClinic"></app-qr>
    </ng-template>
  </mat-menu>
</div>