.specialist {
  min-height: 100%;
  position: relative;
  padding: 12px;
  margin-top: 48px;

  .container {
    margin: 0 auto;
    max-width: 900px
  }

  .sd-card {
    height: 175px;
    position: relative;

    img {
      height: 100%;
    }

    .specialist-title {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 8px;
    }
  }

  .contact-info {
    color: rgba(white, 0.5);
  }
}