<div class="kpi" fxLayout="column" fxLayoutGap="32px">
  <div *ngFor="let c of myClinics; let i = index" fxLayout="column">
    <mat-card class="c-card">
      <div class="c-title" fxLayout="column">
        <h2>{{c.name}}</h2>
        <div class="address">{{c.address}}</div>
      </div>
    </mat-card>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-card fxFlex="65">
        <highcharts-chart *ngIf="chartOptions[i]" [Highcharts]="Highcharts" [options]="chartOptions[i]">
        </highcharts-chart>
      </mat-card>
      <mat-card fxFlex="35">
        <highcharts-chart *ngIf="pieOptions[i]" [Highcharts]="Highcharts" [options]="pieOptions[i]">
        </highcharts-chart>
      </mat-card>
    </div>
  </div>
</div>