.kpi {
  padding: 20px 20px 20px 10px;
  min-height: 100%;
  box-sizing: border-box;
  position: relative;

  mat-card {
    position: relative;
  }

  h2 {
    margin: 0;
  }

  .address {
    opacity: 0.5;
    font-size: 12px;
  }

  highcharts-chart {
    height: 100%;
    width: 100%;
    display: block;
  }
}