<div class="login">
  <div class="login-container" fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign.lt-md=" center"
    ngClass.lt-md="smaller" fxLayoutAlign=" center">

    <div class="login-splash" fxLayout="column" fxLayoutAlign=" center">
      <h2>SuperDentist</h2>
      <img src="assets/images/brand.svg" alt="">
    </div>

    <div>
      <form [formGroup]="formGroup" autocomplete="off">
        <div class="login-form">
          <div class="sd-input gap-24">
            <input formControlName="email" matInput placeholder="Email">
          </div>
          <div class="sd-input">
            <input type="password" formControlName="password" matInput placeholder="Password">
          </div>
          <!-- <div class="forgot">Forgot password?</div> -->
          <div class="warning">{{errorMessage}}</div>

          <button mat-raised-button color="primary" [disabled]="!formGroup.valid" (click)="signIn()">Login</button>
          <div class="top-left">
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
          </div>
        </div>

      </form>

      <div fxLayout="column" fxLayoutGap="4px" class="create-container">
        <div class="new-customer" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign=" center">
          <div fxFlex></div>
          <span>New customer?</span>
          <div fxFlex></div>
        </div>
        <button mat-raised-button [disabled]="loading" (click)="createAccount()">Create Account</button>
      </div>
    </div>
  </div>

</div>