<div class="login">

  <div class="login-container" fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign.lt-md=" center"
    ngClass.lt-md="smaller" fxLayoutAlign=" center">

    <div class="login-splash" fxLayout="column" fxLayoutAlign=" center">
      <h2>Super Dentist</h2>
      <img src="assets/images/brand.svg" alt="">
    </div>

    <div>
      <form [formGroup]="formGroup">
        <div class="login-form">
          <div>
            <input class="sd-input gap-24" formControlName="email" matInput placeholder="Email">
          </div>
          <div>
            <input class="sd-input gap-8" type="password" formControlName="password" matInput placeholder="Password">
          </div>
          <div class="warning">{{errorMessage}}</div>

          <button class="sd-button blue" (click)="signIn()">Login</button>
          <!-- <div class="forgot">Forgot password?</div> -->
          <div class="top-left">
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
          </div>
        </div>

      </form>

      <!-- <div fxLayout="column" fxLayoutGap="4px">
        <div class="new-customer" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign=" center">
          <div fxFlex></div>
          <span>New customer?</span>
          <div fxFlex></div>
        </div>
        <button class="sd-button grey" [disabled]="loading" (click)="createAccount()">Create Account</button>
      </div> -->
    </div>
  </div>

</div>