<mat-card class="c-card patient" ngClass.lt-md="smaller" fxLayout="column" fxLayoutAlign=" center">
  <h1 *ngIf="state === patientStates.Invalid">We're working on QR! Come back later.</h1>

  <p *ngIf="state === patientStates.Invalid">What do dentist call X-Rays? Tooth Pics!</p>

  <img *ngIf="state === patientStates.Invalid" src="assets/images/under-construction.svg" alt="">

  <span #m style="display:none"></span>
  <input style="display:none" #refPhotoEl type="file" accept="image/*">

  <form fxLayout="column" fxLayoutGap="36px" *ngIf="state === patientStates.Processing || state === patientStates.Form"
    autocomplete="off" [formGroup]="patientForm">

    <div class="to-clinics">
      <div>Welcome to </div>
      <h1> {{toPlaceDetails[0]?.name}} </h1>
      <div class="referred-by">Referred by {{fromPlaceDetails[0]?.name}} </div>
    </div>

    <div fxLayout="column" fxFlex="0 0 auto" fxLayoutGap="36px">
      <div class="sd-input">
        <label>First Name</label>
        <input type="text" #firstName autocomplete="off" formControlName="firstName">
      </div>

      <div class="sd-input">
        <label>Last Name</label>
        <input type="text" autocomplete="off" formControlName="lastName">
      </div>

      <div class="sd-input">
        <label>Email</label>
        <input type="text" autocomplete="off" formControlName="email">
      </div>

      <div class="sd-input">
        <label>Phone Number</label>
        <input autocomplete="off" mask='(000) 000-0000' [showMaskTyped]="true" formControlName="phoneNumber">
      </div>

      <div class="from-clinics" fxLayout="column">
        <h3>Select your specialist</h3>

        <mat-radio-group color="primary" formControlName="selectedClinic" fxLayout="column" fxFlex="0 0 auto"
          fxLayoutGap="12px">
          <mat-radio-button *ngFor="let clinic of toPlaceDetails" [value]="clinic">
            <div class="wrap"> {{clinic.name}} </div>
            <div class="wrap address"> {{clinic.formatted_address}} </div>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <button (click)="uploadPhoto()" color="primary" mat-stroked-button>Upload a photo of referral card</button>

      <button mat-raised-button (click)="completeReferral()"
        [disabled]="!patientForm?.valid || state === patientStates.Processing || files.length === 0" color="primary">
        <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
          <mat-progress-spinner *ngIf="state === patientStates.Processing" mode="indeterminate" diameter="24">
          </mat-progress-spinner>
          <span>{{state !== patientStates.Processing ? 'Send': 'Sending...'}}</span>
        </span>
      </button>
    </div>
  </form>

  <div class="success" fxLayout="column" fxFlex="0 0 auto" fxLayoutAlign="center"
    *ngIf="state === patientStates.Success" fxLayoutGap="32px">
    <div>
      <h1>Hi {{patientForm?.value?.firstName}} : )</h1>
      <p> You can now text {{patientForm?.value?.selectedClinic?.name}} your preferred appointment
        time.
      </p>
    </div>

    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="12px">
      <mat-icon>location_on</mat-icon>
      <div>
        <div> {{patientForm?.value?.selectedClinic?.name}} </div>
        <div> {{patientForm?.value?.selectedClinic?.formatted_address}} </div>
      </div>
    </div>
  </div>

  <div class="failed" *ngIf="state === patientStates.Failed">
    <h2>Failed </h2>
  </div>
</mat-card>