<div class="tooth-history" fxLayout="column">
  <label>{{label}}</label>

  <div class="history" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="12px">
      <button mat-icon-button (click)="addHistory()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <span fxFlex>Date (MM/DD/YYY)</span>
      <span fxFlex>Tooth # | Quadrant</span>
    </div>

    <div class="row-form" fxLayout="row" *ngFor="let control of historyForm.controls; let i = index"
      [formGroup]="control" fxLayoutGap="12px">
      <button mat-icon-button (click)="removeHistory(i)">
        <mat-icon>delete</mat-icon>
      </button>

      <div class="sd-input" fxFlex>
        <input type="text" formControlName="date" mask='00/00/0000' [showMaskTyped]="true">
      </div>

      <div class="sd-input" fxFlex>
        <select formControlName="tooth">
          <option *ngFor="let tooth of teeth" [value]="tooth.value">{{tooth.label}}</option>
        </select>
      </div>

    </div>
  </div>
</div>