<mat-card class="mat-elevation-z4 chat" fxLayout="column">
  <div class="clinic-chat" *ngIf="referral !== undefined" fxLayout="row">
    <div [fxFlex]="clinicType === 'specialist' ? 50 : 100" (click)="talkTo(true)" class="l"
      [ngClass]="{'active': selectedChannel === 'c2c'}" matTooltipPosition="above" matTooltipShowDelay="750"
      [matTooltip]="referral.toClinicName">
      {{clinicType === 'dentist' ? referral.toClinicName : referral.fromClinicName }}
    </div>
    <div *ngIf="clinicType === 'specialist'" class="vert"></div>
    <div *ngIf="clinicType === 'specialist' && (referral.patientPhone && referral.patientEmail)" fxFlex="50"
      (click)="talkTo(false)" class="r" [ngClass]="{'active': selectedChannel === 'c2p'}" matTooltipPosition="above"
      matTooltipShowDelay="750" [matTooltip]="referral.patientFirstName + ' ' + referral.patientLastName">
      {{referral.patientFirstName}} {{referral.patientLastName}}
    </div>
  </div>

  <div class="ms" fxFlex>
    <div class="text" [ngClass]="m.userId === userEmail ? 'sender': 'receiver'" fxLayout="column"
      *ngFor="let m of messages">
      <div>{{m.text}}</div>
    </div>
  </div>

  <div fxLayout="row" class="chat-input">
    <input type="file" name="profile" multiple #fileUpload (change)="onFileSelect($event)" style="display: none;" />
    <button [disabled]="uploadingDocuments" mat-icon-button (click)="fileUpload.click()">
      <mat-spinner class="abs" *ngIf="uploadingDocuments" diameter="24"></mat-spinner>
      <mat-icon>attach_file</mat-icon>
    </button>
    <div class="sd-input">
      <input type="text" [(ngModel)]="messageToSend" (keyup.enter)="enterComment(messageToSend)"
        placeholder="SuperMessage">
    </div>
  </div>
</mat-card>