<mat-card *ngIf="referral !== undefined" class="mat-elevation-z4 chat" fxLayout="column">
  <div class="clinic-chat" fxLayout="row">
    <div [fxFlex]="clinicType === 'specialist' ? 50 : 100" (click)="talkTo(true)" class="l"
      [ngClass]="{'active': selectedChannel === 'c2c'}" matTooltipPosition="above" matTooltipShowDelay="750"
      [matTooltip]="referral.toClinicName">
      {{clinicType === 'dentist' ? referral.toClinicName : referral.fromClinicName }}
    </div>
    <div *ngIf="clinicType === 'specialist'" class="vert"></div>
    <div *ngIf="clinicType === 'specialist' && (referral.patientPhone && referral.patientEmail)" fxFlex="50"
      (click)="talkTo(false)" class="r" [ngClass]="{'active': selectedChannel === 'c2p'}" matTooltipPosition="above"
      matTooltipShowDelay="750" [matTooltip]="referral.patientFirstName + ' ' + referral.patientLastName">
      {{referral.patientFirstName}} {{referral.patientLastName}}
    </div>

    <button mat-icon-button (click)="this.closeChat.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="ms" fxFlex>
    <div class="text" fxLayout="row" *ngFor="let m of messageChunks">
      <mat-icon>account_circle</mat-icon>
      <div class="convo" fxLayout="column">
        <header>{{m.header.name}} <span class="ts">{{m.header.timeStamp | date:'hh:mm a'}}</span></header>
        <div *ngFor="let mIds of m.messageIds">{{conversation[mIds].text}}
          <span>{{conversation[mIds].timeStamp | date:"MMM dd, yyyy hh:mm a"}}</span></div>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="chat-input">
    <input type="file" name="profile" multiple #fileUpload (change)="onFileSelect($event)" style="display: none;" />
    <button [disabled]="uploadingDocuments" mat-icon-button (click)="fileUpload.click()">
      <mat-spinner class="abs" *ngIf="uploadingDocuments" diameter="24"></mat-spinner>
      <mat-icon>attach_file</mat-icon>
    </button>
    <div class="sd-input">
      <input type="text" [(ngModel)]="messageToSend" (keyup.enter)="enterComment(messageToSend)"
        [placeholder]="messagePlaceholder">
    </div>
  </div>
</mat-card>