.visible-insurance {
  .cap {
    text-transform: capitalize;
  }

  .code-group-number {
    font-size: 12px;
    opacity: 0.7;
  }

  .c-lin {
    margin: 36px 0 20px;
  }

  .actions {
    margin-top: 20px;
  }
}