<mat-card class="visible-insurance">
  <mat-card-header>
    <mat-card-title>Visible Insurance Fields</mat-card-title>
  </mat-card-header>

  <div class="sd-input c-lin">
    <label>Selected clinic</label>
    <select [ngModel]="selectedClinic">
      <option *ngFor="let clinic of clinics" [value]="clinic">{{clinic.name}}</option>
    </select>
  </div>

  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let breakDownKey of insuranceCodes?.breakDownKeys; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{breakDownKey}} -&nbsp;
          <div class="cap"> {{insuranceCodes.breakDowns[breakDownKey].label.toLowerCase()}}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutGap="16px">
        <div fxLayout="row"
          *ngFor="let subKey of insuranceCodes?.breakDowns[breakDownKey].breakDownKeys; let j = index">
          <mat-checkbox fxFlex [checked]="ids[subKey]"
            (change)="toggleBreakDown($event.checked, breakDownKey, i, subKey, j)" color="primary">
            {{subKey}} - {{insuranceCodes?.breakDowns[breakDownKey].breakDowns[subKey].label}}
          </mat-checkbox>

          <mat-checkbox [checked]="historyIds[subKey]"
            (change)="toggleBreakDownHistory($event.checked, breakDownKey, i, subKey, j)" color="accent">Show history
          </mat-checkbox>
        </div>
      </div>
    </mat-expansion-panel>

    <div class="actions" fxLayout="row" fxLayoutAlign="space-between">
      <button mat-stroked-button>Cancel Changes</button>
      <button mat-raised-button color="primary" (click)="submitCodes()">Submit Visible Codes</button>
    </div>
  </mat-accordion>

</mat-card>