.treatment-menu {
  padding: 12px 16px;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: rgba(grey, 0.2);
  }

  > div {
    white-space: normal;
  }
  
  .address {
    opacity: 0.7;
    font-size: 12px;
  }
}