<div class="overview">
  <mat-card class="c-card">

    <div>

      <div class="m-top">
        <div fxLayout="row">
          <mat-form-field style="margin-right: 32px;" appearance="outline">
            <mat-label>Report Period</mat-label>
            <mat-select>
              <mat-option>This year-to-date</mat-option>
              <mat-option>Last 6 months</mat-option>
              <mat-option>Last Quarter</mat-option>
              <mat-option>Last Month</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="margin-right: 12px" appearance="outline">
            <mat-label>From</mat-label>
            <input matInput type="text">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>To</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-card fxFlex class="top-card" fxLayout="row">
          <div class="legend blue"></div>
          <div fxFlex fxLayout="column">
            <span>Production</span>
            <div>$3,432</div>
          </div>
          <div>+0.2%</div>
        </mat-card>

        <mat-card fxFlex class="top-card" fxLayout="row">
          <div class="legend green"></div>
          <div fxFlex fxLayout="column">
            <span>Collections</span>
            <div>$3,432</div>
          </div>
          <div>+0.2%</div>
        </mat-card>

        <mat-card fxFlex class="top-card" fxLayout="row">
          <div class="legend orange"></div>
          <div fxFlex fxLayout="column">
            <span>Net operating income</span>
            <div>$3,432</div>
          </div>
          <div>+0.2%</div>
        </mat-card>

        <mat-card fxFlex class="top-card">
          <div class="legend pink"></div>
          <div>
            <span>Current cash balance</span>
            <div>$3,432</div>
          </div>
        </mat-card>
      </div>
    </div>
    <mat-card class="chart m-top">
      <h3>Performance</h3>

      <highcharts-chart class="performance-chart" [Highcharts]="Highcharts" [options]="chartOptions[0]">
      </highcharts-chart>
    </mat-card>
    <mat-card class="chart m-top">
      <h3>Cash flow</h3>
      <div class="chart-toggle" fxLayout="row">
        <div class="tgl left" (click)="cashFlowChart = 'left'" [ngClass]="{'active': cashFlowChart === 'left'}"
          fxLayout="row" fxLayoutAlign=" center">
          <mat-icon color="primary">bar_chart</mat-icon>Money in/out
        </div>
        <!-- <div class="vert"></div> -->
        <div class="tgl right" (click)="cashFlowChart = 'right'" [ngClass]="{'active': cashFlowChart !== 'left'}"
          fxLayout="row" fxLayoutAlign=" center">
          <mat-icon color="primary">timeline</mat-icon>Cash balance
        </div>
      </div>

      <highcharts-chart class="cashflow-chart" [Highcharts]="Highcharts" [options]="chartOptions[1]">
      </highcharts-chart>
    </mat-card>
  </mat-card>
</div>