<div class="early-access">
  <form>
    <div fxLayout="column" fxLayoutGap="36px">
      <div fxLayout="row" fxLayoutGap="20px">
        <div class="sd-input">
          <label>First Name </label>
          <input type="text" required name="First Name">
        </div>
        <div class="sd-input">
          <label>Last Name </label>
          <input type="text" required name="Last Name">
        </div>
      </div>
      <div class="sd-input">
        <label>Email Address </label>
        <input type="email" required name="Email Address">
      </div>
      <div class="sd-input">
        <label>Phone Number </label>
        <input type="tel" autocomplete="off" mask='(000) 000-0000' [showMaskTyped]="true" required name="Phone Number">
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <div class="sd-input">
          <label>Name of Organization </label>
          <input type="text" required name="Organization">
        </div>
        <div class="sd-input">
          <label>Number of Locations </label>
          <input type="number" required name="Locations">
        </div>
      </div>
    </div>
    <h3>Select Your Practice Management System</h3>
    <div class=" small-up-2 large-up-3">
      <mat-selection-list #shoes>
        <mat-list-option *ngFor="let pms of ['EndoVision', 'OMSVision', 'PerioVision', 'Carestream']" [value]="pms">
          {{pms}}
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class=" text-center">
      <button mat-raised-button color="primary" type="submit">Schedule Me</button>
    </div>
  </form>
</div>