<div class="early-access">
  <mat-card class="c-card">
    <form [formGroup]="accessForm">
      <div fxLayout="column" fxLayoutGap="36px">
        <h1>Early Access</h1>
        <div fxLayout="row" fxLayoutGap="20px">
          <div class="sd-input">
            <label>First Name </label>
            <input type="text" required formControlName="firstName">
          </div>
          <div class="sd-input">
            <label>Last Name </label>
            <input type="text" required formControlName="lastName">
          </div>
        </div>
        <div class="sd-input">
          <label>Email Address </label>
          <input type="email" required formControlName="email">
        </div>
        <div class="sd-input">
          <label>Phone Number </label>
          <input type="tel" autocomplete="off" mask='(000) 000-0000' [showMaskTyped]="true" required
            formControlName="phoneNumber">
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div class="sd-input">
            <label>Name of Organization </label>
            <input type="text" required formControlName="organization">
          </div>
          <div class="sd-input">
            <label>Number of Locations </label>
            <input type="number" required formControlName="locationCount">
          </div>
        </div>
      </div>
      <h3>Select Your Practice Management System</h3>
      <div>
        <mat-selection-list #pms color="primary">
          <mat-list-option *ngFor="let pms of ['EndoVision', 'OMSVision', 'PerioVision', 'Carestream']" [value]="pms">
            {{pms}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div>
        <button mat-raised-button [disabled]="!accessForm.valid" color="primary" (click)="submitAccess()"
          type="submit">Schedule Me</button>
      </div>
    </form>
  </mat-card>
</div>