.early-access {
  position: relative;
  padding: 28px 20px 20px 20px;

  form {
    width: 598px;
    max-width: 100%;
    margin: 0 auto;
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 0px;
  }
  
  .submit {
    margin-top: 24px;
    
    button {
      max-width: 100%;
      width: 200px;
    }
  }
}

:host {
  height: 100%;
}

.sent {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  img {
    box-sizing: border-box;
    padding: 20px;
    max-width: 100%;
  }
  h1 {
    padding: 20px;
    font-size:18px;
    text-align: center;
  }
}