.progress{
  height: 40px;

  span{
    transition: all 500ms ease;
    background: #4A72DA;
    height: 10px;
    width: 10px;  
    margin-left:2px;
    display: inline-block;
    border-radius: 10px;
    animation: wave 2s ease  infinite;
  }

  span:nth-child(1){  animation-delay: 0; }
  span:nth-child(2){  animation-delay: 100ms; }
  span:nth-child(3){  animation-delay: 200ms; }
  span:nth-child(4){  animation-delay: 300ms; }
  span:nth-child(5){  animation-delay: 400ms; }
  span:nth-child(6){  animation-delay: 500ms; }
  span:nth-child(7){  animation-delay: 600ms; }
  span:nth-child(8){  animation-delay: 700ms; }
}

@keyframes wave{
  0%, 40%, 100% { 
    transform: translate(0, 0);
    background-color: #4A72DA;    
  }
  10% { 
    transform: translate(0, -15px); 
    background-color: red;    
  }  
}