<div class="notification">
  <button mat-icon-button (click)="toggle()">
    <mat-icon [matBadge]="unseenNotifications" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
  </button>
</div>

<div [@fade] *ngIf="opened" class="notification-list" (click)="toggle()">
  <mat-card class="items">
    <a [routerLink]="notification.route" *ngFor="let notification of notifications$ | async">
      <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="12px">
        <mat-icon>{{iconMap[notification.type]}}</mat-icon>

        <div fxLayout="column">
          <div>{{notification.note}}</div>
          <div class="timeago">{{notification.timestamp | timeago}}</div>
        </div>
      </div>
    </a>
  </mat-card>
</div>