.app {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  .top-right {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 301;
  }

  .verify-banner {    
    position: fixed;
    top: 50px;
    padding: 20px 12px 14px;
    border-radius: 8px;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
    background: #242526;

    span {
      color: rgba(white, 0.5);
    }
    
    a {
      text-decoration: none;
      font-weight: 500;
      color: rgba(white, 0.7);
    }
  }

  .content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }

  .contain {
    height: calc(100% - 58px);

    &.full-h {
      height: 100%;
    }
  }

  .sd-toolbar {
    background: #47494d;
    padding: 8px 50px 8px 6px;
    z-index: 300;
  }
  
  .nav-title {
    cursor: pointer;
    outline: none;
    user-select: none;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      font-size: 24px;
      font-weight: 500;
      padding-left: 12px;
      color: var(--ac-blue);
    }

    img {
      height: 42px;
    }
  }
}

.sidenav {
  width: 200px;
  height: calc(100% - 32px);
  border-radius: 0 4px 4px 0;
  margin: 16px 12px 16px 0;
  position: relative;
  transition: 0.3s;
  background: #47494D;
  overflow: hidden;

  .active {
    position: relative;
    background: rgba(white, 0.05);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 3px;
      background: var(--ac-blue);
      height: 100%;
    }
  }

  .collapse {
    mat-icon {
      transition: 0.3s;
    }
  }

  &.collapsed-sidenav {
    width: 58px;

    .collapse mat-icon {
      transform: rotateY(180deg);
    }
  }

  .nav-item {
    user-select: none;
    cursor: pointer;
    height: 46px;
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
    opacity: 0.5;
    min-width: 58px;

    &.active, &.collapse, &:hover {
      opacity: 1;
    }

    span {
      margin-left: 12px;
    }
  }
}