.light.app {
  background: linear-gradient(270deg, #fdfcfb, #ebeef3);
  
  .nav-title {
    img {
      height: 18px;
      filter: invert(1);
    }
  }
}

.app {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  background: linear-gradient(90deg, #3b3d42, #232425);
  flex-direction: row;

  .early-access-container {
    position: relative;
  }

  .early-access-light {
    position: absolute;
    right: 0;
    top: -16px;
    margin-right: 8px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
    background: var(--ac-blue);
    padding: 6px 16px;
    border-radius: 4px;
    transition: 0.3s;
    color: white;
  }

  .early-access {
    position: absolute;
    white-space: nowrap;
    right: 0;
    top: -16px;
    margin-right: 8px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
    background: linear-gradient(269.57deg, #0A84FF 0%, #1CBECE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid transparent;
    padding: 6px 16px;
    border-radius: 4px;
    transition: 0.3s;

    &::after {
      content: "";
      height: 1px;
      position: absolute;
      bottom: -4px;
      left: 0;
      opacity: 0;
      width: 0;
      background: linear-gradient(269.57deg, #0A84FF 0%, #1CBECE 100%);
      transition: 0.2s;
    }

    &:hover::after {
      width: 100%;
      opacity: 1;
    }
  }

  .welcome {
    margin-right: 24px;
  }

  .top-right {
    position: relative;

    mat-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    position: relative;
  }

  .contain {
    min-height: calc(100% - 58px);
    height: 1px;
  }

  .sd-toolbar {
    padding: 8px;
    border-radius: 0;
    z-index: 300;
    transition: 0.3s;
  }

  .opac {
    background: transparent;
    box-shadow: none;
  }
  
  .nav-title {
    cursor: pointer;
    outline: none;
    user-select: none;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      font-size: 24px;
      font-weight: 500;
      padding-left: 12px;
      font-style: italic;
    }

    img {
      height: 18px;
    }
  }
}

.sidenav {
  width: 240px;
  height: calc(100% - 40px);
  border-radius: 0 4px 4px 0;
  margin: 20px 12px 20px 0;
  position: relative;
  transition: 0.3s;
  padding: 0;
  overflow: hidden;

  .active {
    position: relative;
    background: rgba(white, 0.05);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 3px;
      background: var(--ac-blue);
      height: 100%;
    }
  }

  .collapse {
    mat-icon {
      transition: 0.3s;
    }

    > span {
      font-size: 12px;
      opacity: 0.5;
      white-space: nowrap;
    }
  }

  &.collapsed-sidenav {
    width: 58px;

    .collapse mat-icon {
      transform: rotateY(180deg);
    }
  }

  .nav-item {
    user-select: none;
    cursor: pointer;
    height: 46px;
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
    opacity: 0.5;
    min-width: 58px;

    &.active, &.collapse, &:hover {
      opacity: 1;
    }

    span {
      margin-left: 12px;
    }
  }
}