.app {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  .top-right {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 20;
  }

  .verify-banner {    
    position: fixed;
    top: 50px;
    padding: 20px 12px 14px;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
    background: #242526;

    span {
      color: rgba(white, 0.5);
    }
    
    a {
      text-decoration: none;
      font-weight: 500;
      color: rgba(white, 0.7);
    }
  }

  .content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }

  .contain {
    height: calc(100% - 58px);

    &.full-h {
      height: 100%;
    }
  }

  .sd-toolbar {
    background: #47494d;
    padding: 8px 68px 8px 16px;
    z-index: 12;
  }
  
  .nav-title {
    cursor: pointer;
    outline: none;
    user-select: none;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      font-size: 24px;
      font-weight: 500;
      padding-left: 12px;
      color: var(--ac-blue);
    }

    img {
      height: 42px;
    }
  }
}

.sidenav {
  width: 240px;
  height: calc(100% - 24px);
  border-radius: 0 4px 4px 0; 
  margin: 12px 12px 12px 0;
  position: relative;
  transition: 0.3s;
  background: #47494D;
  padding: 12px 0;

  &.collapsed-sidenav {
    width: 72px;

    .collapse mat-icon {
      transform: rotateY(180deg);
    }
  }

  .nav-item {
    user-select: none;
    cursor: pointer;
    margin: 0 12px;
    height: 46px;
    display: flex;
    flex-direction: row;
    padding: 0 12px;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;

    span {
      margin-left: 12px;
    }
  }
}