<div class="app" fxLayout="column" [ngClass]="theme">
  <button mat-icon-button class="top-right" (click)="toggleTheme()">
    <mat-icon>{{theme === 'dark' ? 'nights_stay': 'wb_sunny'}}</mat-icon>
  </button>

  <div class="sd-toolbar mat-elevation-z3" fxLayout="row" fxLayoutAlign=" center" *ngIf="authenticated">
    <div class="nav-title" routerLink='referrals'>
      <img src="assets/images/brand.svg" alt=""> <span>SuperDentist</span>
    </div>

    <span fxFlex></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="signOut()">Sign Out</button>
    </mat-menu>
  </div>

  <div [ngClass]="{'full-h': !authenticated}" class="contain" fxLayout="row">
    <mat-card class="sidenav mat-elevation-z7" *ngIf="authenticated" fxLayout="column"
      [ngClass]="{'collapsed-sidenav': !expanded}">

      <a *ngIf="showSpecialist" mat-button routerLinkActive="active" [routerLink]="navItems[0].path" class="nav-item">
        <mat-icon>{{navItems[0].icon}}</mat-icon>
        <span *ngIf="expanded" [@sidebarToggle]>{{navItems[0].label}}</span>
      </a>

      <a mat-button routerLinkActive="active" [routerLink]="navItems[1].path" class="nav-item">
        <mat-icon>{{navItems[1].icon}}</mat-icon>
        <span *ngIf="expanded" [@sidebarToggle]>{{navItems[1].label}}</span>
      </a>

      <span fxFlex></span>

      <div (click)="toggleNav()" class="nav-item collapse">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span *ngIf="expanded" [@sidebarToggle]>Collapse</span>
      </div>
    </mat-card>

    <div class="content">
      <div *ngIf="authenticated && !emailVerified" class="verify-banner">
        Please verify your email. <span>Didn't get the email? </span> <a routerLink="verify">Click here</a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>