<div class="verification">
  <img class="logo" src="assets/images/brand.svg" alt="">
  <button class="sd-icon-button close" (click)="goToLogin()">
    <mat-icon>close</mat-icon>
  </button>
  <!-- <app-verify-email *ngIf="!verifiedEmail"></app-verify-email> -->

  <div class="complete-account">
    <div class="clinic" fxLayout="column" fxLayoutGap="24px">
      <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="12px" class="stepper">
        <div class="spinner-progress">
          <div class="step">{{steps[active].step}} of 2</div>
          <mat-progress-spinner mode="determinate" diameter="64" [value]="(steps[active].step / 2) * 100">
          </mat-progress-spinner>
          <mat-progress-spinner class="behind" mode="determinate" diameter="64" value="100">
          </mat-progress-spinner>
        </div>
        <div>
          <h1>{{steps[active].label}}</h1>
        </div>

        <span fxFlex></span>

        <button class="sd-button" *ngIf="active === 1" (click)="active = active - 1">Back</button>
        <button class="sd-button" *ngIf="active === 0" [disabled]="selectedClinic === undefined"
          (click)="active = active + 1">Next</button>
      </div>

      <!-- <div class="dentist-type" *ngIf="active === 0" fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="32px">
        <div class="clinic-type sd-card" [ngClass]="{'active': selectedClinic === 1}" (click)="selectDentist()">
          <img src="assets/icons/dentist.svg" alt="">
          <p>General Dentist</p>
        </div>

        <div class="clinic-type sd-card" [ngClass]="{'active': selectedClinic === 0}" (click)="selectSpecialist()">
          <img src="assets/icons/specialist.svg" alt="">
          <p>Specialist</p>
        </div>
      </div> -->
      <div *ngIf="active === 0" fxLayout="column" fxFlex>
        <mat-radio-group [(ngModel)]="selectedClinic">
          <mat-radio-button [value]="1">General Dentist</mat-radio-button>
          <mat-radio-button [value]="0">Specialist</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="selectedClinic === 0" class="sd-input">
          <label>Specialist Type(s)</label>
          <input type="text">
        </div>
        <div class="sd-input">
          <label>Clinic Name</label>
          <input type="text">
        </div>
        <div class="sd-input">
          <label>Clinic Address</label>
          <input type="text">
        </div>
        <div class="sd-input">
          <label>Clinic Phone Number</label>
          <input type="text">
        </div>
      </div>
    </div>

    <div class="specialist" *ngIf="active === 1" fxLayout="column">
      <div class="sd-input email">
        <label>Email</label>
        <input type="text">
      </div>
      <div class="sd-input pass">
        <label>Password</label>
        <input type="text">
      </div>
      <div class="sd-input">
        <label>Confirm Password</label>
        <input type="text">
      </div>

      <div fxLayout="row" fxLayoutAlign="end">
        <button class="sd-button blue" *ngIf="active === 1" disabled>Register</button>
      </div>
    </div>

    <div class="verify-clinic" *ngIf="active === 2">
      <div>To protect you and your business we need to verify your clinic.</div>

      <div class="sd-card" fxLayout="row" fxLayoutAlign=" center">
        <mat-icon>phone</mat-icon>
        <p>Call me at (603) 555-0123</p>
      </div>

      <div class="sd-card" fxLayout="row" fxLayoutAlign=" center">
        <mat-icon>chat</mat-icon>
        <p>Text me at (603) 555-0123</p>
      </div>

      <div class="sd-card" fxLayout="row" fxLayoutAlign=" center">
        <mat-icon>email</mat-icon>
        <p>Email me at info@nyds.com</p>
      </div>

      <div class="sd-card" fxLayout="row" fxLayoutAlign=" center">
        <mat-icon>description</mat-icon>
        <p>Upload a verification document</p>
      </div>
    </div>
  </div>
</div>