<div class="verification">
  <!-- <button class="sd-button blue" (click)="openCreateReferral()">Add Patient</button> -->

  <div class="complete-account">
    <div class="clinic" fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="24px">
      <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="12px" class="stepper">
        <div class="spinner-progress">
          <div class="step">{{steps[active].step}} of 4</div>
          <mat-progress-spinner mode="determinate" diameter="64" [value]="(steps[active].step / 4) * 100">
          </mat-progress-spinner>
          <mat-progress-spinner class="behind" mode="determinate" diameter="64" value="100">
          </mat-progress-spinner>
        </div>
        <div>
          <h1>{{steps[active].label}}</h1>
          <p>Next: {{steps[active].subLabel}}</p>
        </div>

        <span fxFlex></span>

        <button class="sd-button" [disabled]="active === 0" (click)="active = active - 1">Previous</button>
        <button class="sd-button" *ngIf="active != 3" [disabled]="selectedClinic === undefined"
          (click)="active = active + 1">Next</button>
        <button class="sd-button blue" *ngIf="active === 3" (click)="active = active + 1">Finish</button>
      </div>

      <h1 *ngIf="active === 0">What type of clinic are you?</h1>

      <div *ngIf="active === 0" fxLayout="row" fxLayoutGap="32px">
        <div class="clinic-type" [ngClass]="{'active': selectedClinic === 1}" (click)="selectDentist()">
          <img src="assets/images/general-dentist.jpg" alt="">
          <p>General Dentist</p>
        </div>

        <div class="clinic-type" [ngClass]="{'active': selectedClinic === 0}" (click)="selectSpecialist()">
          <img src="assets/images/specialist.jpg" alt="">
          <p>Specialist</p>
        </div>
      </div>
    </div>

    <div class="specialist" *ngIf="active === 1 && selectedClinic === 0" fxLayoutGap="16px" fxLayout="column">
      <input class="sd-input" placeholder="Specialist Type(s)" type="text">
      <input class="sd-input" placeholder="Name" type="text">
      <input class="sd-input" placeholder="Address" type="text">
      <input class="sd-input" placeholder="Email" type="text">
      <input class="sd-input" placeholder="Phone Number" type="text">
    </div>

    <div class="general-dentist" *ngIf="active === 1 && selectedClinic === 1" fxLayoutGap="16px" fxLayout="column">
      <input class="sd-input" placeholder="Name" type="text">
      <input class="sd-input" placeholder="Address" type="text">
      <input class="sd-input" placeholder="Email" type="text">
      <input class="sd-input" placeholder="Phone Number" type="text">
    </div>

    <div class="pms" *ngIf="active === 2">
      <h3>Practice Management Softwares</h3>
      <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="space-between">
        <div fxLayout="column" fxLayoutGap="4px">
          <mat-checkbox color="primary" *ngFor="let p of pms" [(ngModel)]="p.selected">{{p.label}}</mat-checkbox>
        </div>

        <div fxLayout="column" fxLayoutGap="4px">
          <mat-checkbox color="primary" *ngFor="let p of pms2" [(ngModel)]="p.selected">{{p.label}}</mat-checkbox>
        </div>

        <div fxLayout="column" fxLayoutGap="4px">
          <mat-checkbox color="primary" *ngFor="let p of pms3" [(ngModel)]="p.selected">{{p.label}}</mat-checkbox>
        </div>
      </div>

      <div class="custom-pms">
        <input class="sd-input" placeholder="Add your own PMS">
      </div>
    </div>

    <div class="verify-clinic" *ngIf="active === 3">
      <div>Verification Options</div>

      <div fxLayout="row" fxLayoutAlign=" center">
        <mat-icon>phone</mat-icon>

        <div fxLayout="column">
          <p>Call me at (603) 555-0123</p>
          <p>We'll call you to give you the verification code you'll then enter.</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign=" center">
        <mat-icon>phone</mat-icon>

        <div fxLayout="column">
          <p>Call me at (603) 555-0123</p>
          <p>We'll call you to give you the verification code you'll then enter.</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign=" center">
        <mat-icon>text</mat-icon>

        <div fxLayout="column">
          <p>Text me at (603) 555-0123</p>
          <p>We'll call you to give you the verification code you'll then enter.</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign=" center">
        <mat-icon>email</mat-icon>

        <div fxLayout="column">
          <p>Email me at (603) 555-0123</p>
          <p>We'll call you to give you the verification code you'll then enter.</p>
        </div>
      </div>
    </div>

  </div>