<div class="verification">
  <img class="logo" src="assets/images/brand.svg" alt="">
  <button class="sd-icon-button close" (click)="goToLogin()">
    <mat-icon>close</mat-icon>
  </button>
  <!-- <app-verify-email *ngIf="!verifiedEmail"></app-verify-email> -->

  <div class="loading-splash" *ngIf="loading" [@fadeInOut] fxLayout="column" fxLayoutGap="32px"
    fxLayoutAlign="center center">
    <img src="assets/images/brand.svg" alt="">

    <h1>SuperDentist is getting you setup.</h1>
    <div class="progress container">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="complete-account">
    <div class="clinic" fxLayout="column" fxLayoutGap="24px">
      <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="12px" class="stepper">
        <div class="spinner-progress">
          <div class="step">{{steps[active].step}} of 2</div>
          <mat-progress-spinner mode="determinate" diameter="64" [value]="(steps[active].step / 2) * 100">
          </mat-progress-spinner>
          <mat-progress-spinner class="behind" mode="determinate" diameter="64" value="100">
          </mat-progress-spinner>
        </div>
        <div>
          <h1>{{steps[active].label}}</h1>
        </div>

        <span fxFlex></span>

        <button class="sd-button" *ngIf="active === 1" (click)="active = active - 1">Back</button>
        <button class="sd-button" *ngIf="active === 0" [disabled]="!clinicForm.valid"
          (click)="active=active + 1">Next</button>
      </div>

      <!-- <div class="dentist-type" *ngIf="active === 0" fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="32px">
        <div class="clinic-type sd-card" [ngClass]="{'active': selectedClinic === 1}" (click)="selectDentist()">
          <img src="assets/icons/dentist.svg" alt="">
          <p>General Dentist</p>
        </div>

        <div class="clinic-type sd-card" [ngClass]="{'active': selectedClinic === 0}" (click)="selectSpecialist()">
          <img src="assets/icons/specialist.svg" alt="">
          <p>Specialist</p>
        </div>
      </div> -->
      <form [formGroup]="clinicForm" *ngIf="active === 0">
        <div fxLayout="column" fxFlex>
          <mat-radio-group formControlName="selectedClinic" fxLayout="column" fxLayoutGap="12px">
            <mat-radio-button value="dentist">General Dentist</mat-radio-button>
            <mat-radio-button value="specialist">Specialist</mat-radio-button>
          </mat-radio-group>
          <div class="sd-input">
            <label>Clinic Name</label>
            <input type="text" formControlName="name">
          </div>
          <div class="sd-input">
            <label>Clinic Address</label>
            <input type="text" formControlName="address">
          </div>
          <div class="sd-input">
            <label>Clinic Phone Number</label>
            <input type="text" formControlName="number">
          </div>
          <div *ngIf="clinicForm.get('selectedClinic').value === 'specialist'" class="sd-input">
            <label>Specialist Type(s)</label>
            <input type="text" [(ngModel)]="clinicTypes" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </form>

      <form [formGroup]="accountForm" *ngIf="active === 1">
        <div class="specialist" fxLayout="column">
          <div class="sd-input email">
            <label>Email</label>
            <input type="text" formControlName="email">
          </div>
          <div class="sd-input pass">
            <label>Password</label>
            <input type="password" formControlName="password">
          </div>
          <div class="sd-input">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword">
            <div class="error" *ngIf="accountForm.get('password').value !== accountForm.get('confirmPassword').value">
              Passwords should match
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="end">
            <button class="sd-button blue" *ngIf="active === 1" [disabled]="!accountForm.valid"
              (click)="createSpecialist()">Join</button>
          </div>
        </div>
      </form>


      <div class="verify-clinic" *ngIf="active === 2">
        <div>To protect you and your business we need to verify your clinic.</div>

        <div class="sd-card" fxLayout="row" fxLayoutAlign=" center">
          <mat-icon>phone</mat-icon>
          <p>Call me at (603) 555-0123</p>
        </div>

        <div class="sd-card" fxLayout="row" fxLayoutAlign=" center">
          <mat-icon>chat</mat-icon>
          <p>Text me at (603) 555-0123</p>
        </div>

        <div class="sd-card" fxLayout="row" fxLayoutAlign=" center">
          <mat-icon>email</mat-icon>
          <p>Email me at info@nyds.com</p>
        </div>

        <div class="sd-card" fxLayout="row" fxLayoutAlign=" center">
          <mat-icon>description</mat-icon>
          <p>Upload a verification document</p>
        </div>
      </div>
    </div>
  </div>