.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 20px;
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;
  
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--yellow) var(--percent), white var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.verification {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 48px;

  .loading-splash {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(#424448, #232425);
  }

  .logo {
    position: absolute;
    top: 12px;
    left: 12px;
    height: 32px;
  }

  .close {
    position: fixed;
    top: 24px;
    right: 32px;
  }

  .dentist-type {
    padding-bottom: 42px;
  }

  img {
    height: 150px;
    border-radius: 4px;
  }

  .custom-pms {
    margin-top: 48px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 36px;
  }

  .complete-account {
    margin: 0 auto;
    max-width: 100%;
    width: 700px;
    padding: 24px;
    box-sizing: border-box;

    h1 {
      text-align: center;
    }
  }
  
  .clinic {
    .stepper {      
      width: 100%;
      padding: 64px 0;

      p, h1 {
        margin: 0;
        text-align: left;
      }

      p {
        font-size: 12px;
        color: rgba(white, 0.5);
      }
    }

    .spinner-progress {
      position: relative;

      .step {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
      }

      mat-progress-spinner {
        z-index: 2;
      }

      .behind {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;

        ::ng-deep circle {
          stroke: rgba(black, 0.1);
        }
      }
    }

    .clinic-type {
      cursor: pointer;
      &.active, &:hover {
        border: 1px solid var(--ac-blue);
      }
    }
  }

  .clinic-details {

    h3 {
      margin: 0;
    }

    .name {
      font-size: 18px;
      color: white;
    }

    .address, .rating {
      font-size: 14px;
      margin-top: 4px;
      color: rgba(white, 0.5);
    }
  }
  
  .clinic-type {
    width: 230px;
    padding: 20px 12px 0;
    transition: 0.3s;
    border-radius: 4px;
    border: 1px solid transparent;

    p {
      margin-top: 12px;
      text-align: center;
      font-weight: 500;
    }
  }

  .sd-input {
    margin-bottom: 24px;
    
    &.email {
      margin-bottom: 46px;
    }
  }
}


.progress{
  height: 40px;
}

.progress span{
  transition: all 500ms ease;
  background: #4A72DA;
  height: 10px;
  width: 10px;  
  margin-left:2px;
  display: inline-block;
  border-radius: 10px;
  animation: wave 2s ease  infinite;
}  

.progress span:nth-child(1){  animation-delay: 0; }
.progress span:nth-child(2){  animation-delay: 100ms; }
.progress span:nth-child(3){  animation-delay: 200ms; }
.progress span:nth-child(4){  animation-delay: 300ms; }
.progress span:nth-child(5){  animation-delay: 400ms; }
.progress span:nth-child(6){  animation-delay: 500ms; }
.progress span:nth-child(7){  animation-delay: 600ms; }
.progress span:nth-child(8){  animation-delay: 700ms; }

@keyframes wave{
  0%, 40%, 100% { 
    transform: translate(0, 0);
    background-color: #4A72DA;    
  }
  10% { 
    transform: translate(0, -15px); 
    background-color: red;    
  }  
}