<div class="banking">
  <mat-card class="c-card">

    <div>
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-card fxFlex class="top-card" fxLayout="row">
          <div fxFlex fxLayout="column">
            <span>Wells Fargo - XX1922</span>
            <div>$3,432,234</div>
          </div>
          <div>+0.2%</div>
        </mat-card>

        <mat-card fxFlex class="top-card" fxLayout="row">
          <div fxFlex fxLayout="column">
            <span>Capitol One - XX7253</span>
            <div>$4,123,873</div>
          </div>
          <div>+0.2%</div>
        </mat-card>

        <mat-card fxFlex class="top-card" fxLayout="row">
          <div fxFlex fxLayout="column">
            <span>Chase - XX3920</span>
            <div>$37,212,798</div>
          </div>
          <div>+0.2%</div>
        </mat-card>
      </div>
      <div class="m-top inputs">
        <div fxLayout="row" fxLayoutAlign=" end">
          <h3>Latest transactions</h3>
          <span fxFlex></span>
          <mat-form-field style="margin-right: 32px;" appearance="outline">
            <mat-label>Report Period</mat-label>
            <mat-select>
              <mat-option>This year-to-date</mat-option>
              <mat-option>Last 6 months</mat-option>
              <mat-option>Last Quarter</mat-option>
              <mat-option>Last Month</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="margin-right: 12px" appearance="outline">
            <mat-label>From</mat-label>
            <input matInput type="text">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>To</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
      </div>

    </div>
    <mat-card class="table">
      <div class="c-table">
        <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="assignedTo">
            <th mat-header-cell *matHeaderCellDef> Assigned to </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedTo}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef> Balance </th>
            <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="pager" fxLayout="row" fxLayoutAlign="end center">
        <span class="lighter m-right">Patients per page</span>
        <mat-form-field class="count">
          <mat-select [(ngModel)]="pageSize">
            <mat-option *ngFor="let a of [5, 10, 20, 50, 100]" [value]="a">{{a}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span class="m-right2"></span>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-card>
</div>