<div class="history" fxLayout="column">
  <h3>History</h3>

  <div fxLayout="row">
    <p fxFlex>Periodic exam</p>
    <p>#7</p>
  </div>
  <div fxLayout="row">
    <p fxFlex>Comp Exam</p>
    <p>#7</p>
  </div>
  <div fxLayout="row">
    <p fxFlex>FMX / PANO</p>
    <p>#7</p>
  </div>
  <div fxLayout="row">
    <p fxFlex>BWX</p>
    <p>#7</p>
  </div>
  <div fxLayout="row">
    <p fxFlex>Adult prophy / Child prophy</p>
    <p>#7</p>
  </div>
  <div fxLayout="row">
    <p fxFlex>Fl tx – topical or varnish</p>
    <p>#7</p>
  </div>
  <div fxLayout="row">
    <p fxFlex>Sealants #2,3,14,15,18,19,30,31</p>
    <p>#7</p>
  </div>
  <div fxLayout="row">
    <p fxFlex>SDF</p>
    <p>#7</p>
  </div>
  <div fxLayout="row">
    <p fxFlex>Perio Maint</p>
    <p>#7</p>
  </div>
  <div fxLayout="row">
    <p fxFlex>SRP</p>
    <p>#7</p>
  </div>
  <div fxLayout="row">
    <p fxFlex>Crowns</p>
    <p>#7</p>
  </div>
  <div fxLayout="row">
    <p fxFlex>Restorations</p>
    <p>#7</p>
  </div>
</div>