.history {

  h3 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  .sub-breakdown {
    padding: 0 0 12px 0;

    > div {
      padding: 8px 0;
      border-top: 1px solid rgba(grey, 0.2);
    }

    span {
      margin-left: 24px;
      opacity: 0.7;;
    }
  }

  .breakdowns {
    header {
      padding: 16px 0 8px;
      font-weight: 500;
    }
  }
}