<div class="verification">
  <span #m style="display:none"></span>

  <div class="loading-splash" *ngIf="loading" [@fadeInOut] fxLayout="column" fxLayoutGap="32px"
    fxLayoutAlign="center center">
    <img src="assets/images/brand.svg" alt="">

    <h1>SuperDentist is getting you setup.</h1>
    <app-loader></app-loader>
  </div>

  <mat-card *ngIf="joinInfo?.secureKey" class="c-card complete-account">
    <div class="clinic" fxLayout="column" fxLayoutGap="24px">
      <div class="to-clinics">
        <div>Welcome to SuperDentist,</div>
        <h2>{{placeDetails[0]?.name}} </h2>
      </div>

      <form [formGroup]="accountForm">
        <div class="specialist" fxLayout="column">
          <div class="sd-input email">
            <label>Email</label>
            <input type="text" formControlName="email">
            <div class="error" [@fadeDown] *ngIf="!validEmail && hasChanged && accountForm.get('email').value !== ''">
              The email is invalid or already exist
            </div>
            <div class="error" [@fadeDown] *ngIf="hasChanged && accountForm.get('email').value === ''">
              An email is required
            </div>
          </div>
          <div style="height: 12px;"></div>
          <div class="sd-input pass">
            <label>Password</label>
            <input type="password" formControlName="password">
          </div>
          <div class="sd-input">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword">
            <div class="error" [@fadeDown]
              *ngIf="accountForm.get('password').value !== accountForm.get('confirmPassword').value">
              Passwords should match
            </div>
          </div>
          <div style="height: 12px;"></div>

          <div fxLayout="row">
            <button mat-raised-button color="primary" [disabled]="!accountForm.valid || processing || !validEmail"
              (click)="join()">Join the
              network</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card>