<div class="dental-insurance" [formGroup]="dentalForm" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3>Adding Dental Insurance</h3>
    <button mat-icon-button (click)="cancel.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="sd-input">
    <label>Company</label>
    <input autocomplete="off" type="text" formControlName="company">
  </div>

  <div class="sd-input">
    <label>Member ID</label>
    <input autocomplete="off" type="text" formControlName="memberId">
  </div>

  <div class="subscriber">
    <mat-slide-toggle color="primary" [checked]="subscriber" (change)="subscriber2($event)" labelPosition="before">
      Are you the subscriber?
    </mat-slide-toggle>
  </div>

  <ng-container *ngIf="!subscriber" formGroupName="subscriber">
    <div class="sd-input">
      <label>Subscriber First Name</label>
      <input autocomplete="off" type="text" formControlName="firstName">
    </div>

    <div class="sd-input">
      <label>Subscriber Last Name</label>
      <input autocomplete="off" type="text" formControlName="lastName">
    </div>
    <app-dob [dobGroup]="dentalForm.get('subscriber.dob')"></app-dob>
  </ng-container>

  <div class="actions" fxLayout="row" fxLayoutGap="8px">
    <button mat-button (click)="cancel.emit()">Cancel</button>
    <button mat-raised-button color="primary" (click)="sendInsurance()" [disabled]="!dentalForm.valid">Add Dental
      Insurance</button>
  </div>
</div>