<form [formGroup]="patientForm">
  <div class="referral" fxLayout="column">
    <button mat-icon-button class="close-dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>

    <h2 mat-dialog-title>Create Referral</h2>
    <h3>Patient Details</h3>


    <div fxLayout="column" fxLayoutGap="36px">
      <div class="sd-input">
        <label>Full Name</label>
        <input formControlName="fullName" placeholder="Patient's First and Last Name">
      </div>

      <div class="sd-input">
        <label>Email</label>
        <input formControlName="email" placeholder="Patient's Email">
      </div>
      <div class="sd-input">
        <label>Phone Number</label>
        <input formControlName="phoneNumber" placeholder="Patient's Phone Number">
      </div>

      <textarea formControlName="comments" class="sd-input" placeholder="Comments" cols="7"></textarea>

      <div class="teeth" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="12px">
        <span>Right</span>
        <div class="mouth" fxLayout="column">
          <div class="top" fxLayout="row" fxLayoutGap="12px">
            <div *ngFor="let tooth of topTeeth" (click)="selectTooth(tooth)"
              [ngClass]="{'active': selectedTeeth[tooth]}" fxFlex="34px">{{tooth}}</div>
          </div>
          <div class="horizontal"></div>
          <div class="vertical"></div>
          <div class="bottom" fxLayout="row" fxLayoutGap="12px">
            <div *ngFor="let tooth of bottomTeeth" (click)="selectTooth(tooth)"
              [ngClass]="{'active': selectedTeeth[tooth]}" fxFlex="34px">{{tooth}}</div>
          </div>
        </div>
        <span>Left</span>
      </div>

      <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" style="display:none;" />

      <div>
        <button mat-raised-button [disabled]="loading" (click)="fileUpload.click()">Attach Documents</button>
      </div>
      <div fxLayout="column">
        <span *ngFor="let file of files">
          {{file.data.name}}
        </span>
      </div>
    </div>
  </div>

  <mat-dialog-actions fxLayoutGap="24px" class="tgap-12">
    <span fxFlex></span>
    <button mat-raised-button color="primary" (click)="create()" [disabled]="!patientForm.valid || loading">Send
      Referral</button>
  </mat-dialog-actions>
</form>