<div class="f-t" mat-dialog-title fxLayout="row" fxLayoutAlign="space-between">
  <h2>Create Referral</h2>

  <button mat-icon-button class="close-dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<form mat-dialog-content [formGroup]="patientForm">
  <div fxLayout="column" fxLayoutGap="36px">
    <div fxLayout="row" fxLayoutGap="24px">
      <div class="sd-input">
        <label>First Name</label>
        <input formControlName="firstName" placeholder="Patient">
      </div>

      <div class="sd-input">
        <label>Last Name</label>
        <input formControlName="lastName" placeholder="Patient">
      </div>
    </div>

    <div class="sd-input">
      <label>Email</label>
      <input formControlName="email" placeholder="Patient">
    </div>
    <div class="sd-input">
      <label>Phone Number</label>
      <input formControlName="phoneNumber" placeholder="Patient">
    </div>

    <textarea formControlName="comments" class="sd-input" placeholder="Comments" cols="7"></textarea>

    <div *ngIf="opened">
      <p class="t-p">Select teeth or site(s) to be treated</p>
      <div class="teeth" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="12px">
        <span>Right</span>
        <div class="mouth" fxLayout="column">
          <div class="top" fxLayout="row" fxLayoutGap="12px">
            <div *ngFor="let tooth of topTeeth" (click)="selectTooth(tooth)"
              [ngClass]="{'active': selectedTeeth[tooth]}" fxFlex="34px">{{tooth}}</div>
          </div>
          <div class="horizontal"></div>
          <div class="vertical"></div>
          <div class="bottom" fxLayout="row" fxLayoutGap="12px">
            <div *ngFor="let tooth of bottomTeeth" (click)="selectTooth(tooth)"
              [ngClass]="{'active': selectedTeeth[tooth]}" fxFlex="34px">{{tooth}}</div>
          </div>
        </div>
        <span>Left</span>
      </div>
    </div>

    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" style="display:none;" />

    <div fxLayout="column" *ngIf="files && files.length > 0">
      <p>Documents</p>
      <span *ngFor="let file of files">
        {{file.name}}
      </span>
    </div>
  </div>
</form>

<mat-dialog-actions fxLayoutGap="24px" class="tgap-12">
  <!-- <div class="reasons">
    <mat-form-field>
      <mat-label>Reasons for Visit</mat-label>
      <mat-select [(ngModel)]="selectedReasons" multiple>
        <mat-option *ngFor="let key of reasons.order" [value]="reasons.values[key].value">{{reasons.values[key].label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <button mat-raised-button [disabled]="loading" (click)="fileUpload.click()">Attach Documents</button>
  <span fxFlex></span>
  <button mat-raised-button color="primary" (click)="create()" [disabled]="!patientForm.valid || loading">
    Send Referral
  </button>
</mat-dialog-actions>