<form [formGroup]="patientForm">
  <div class="referral" fxLayout="column">
    <button class="sd-icon-button close-dialog">
      <mat-icon>close</mat-icon>
    </button>

    <h2 mat-dialog-title>Create Referral</h2>
    <h4>Patient Details</h4>


    <div fxLayout="column" fxLayoutGap="36px">
      <div class="sd-input">
        <label>Full Name</label>
        <input formControlName="fullName" placeholder="Patient's First and Last Name">
      </div>

      <div class="sd-input">
        <label>Email</label>
        <input formControlName="email" placeholder="Patient's Email">
      </div>
      <div class="sd-input">
        <label>Phone Number</label>
        <input formControlName="phoneNumber" placeholder="Patient's Phone Number">
      </div>

      <textarea formControlName="comments" class="sd-input" placeholder="Comments" cols="7"></textarea>
    </div>
  </div>

  <mat-dialog-actions fxLayoutGap="24px" class="tgap-12">
    <span fxFlex></span>
    <button class="sd-button blue" (click)="create()" [disabled]="!patientForm.valid || loading">Send Referral</button>
  </mat-dialog-actions>
</form>