<mat-card *ngIf="patient" fxLayout="column" class="patient-details">
  <div fxLayout="row">
    <h3 class="back" fxFlex fxLayoutGap="8px" fxLayout="row" fxLayoutAlign=" center" (click)="closePatient.emit()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span>{{patient.firstName}} {{patient.lastName}}</span>
    </h3>

    <div>
      <div class="sd-input">
        <select [(ngModel)]="selectedStatusValue" (change)="updateStatus()">
          <option *ngFor="let stat of status; let i = index" [value]="stat.value">{{stat.label}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <header fxLayout="row" fxLayoutAlign=" start">
    <div fxLayout="column">
      <div *ngIf="patient.dob">
        Birthday {{months[patient.dob.month].label}}
        {{patient.dob.day}},
        {{patient.dob.year}}
      </div>
      <div *ngIf="patient.createdOn">
        Registered on {{patient.createdOn | date:"MMM dd, yyyy"}}
      </div>
    </div>

  </header>

  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="50" *ngIf="patient.dentalInsurance">
      <h4>Dental Insurance(s)</h4>
      <div class="insurance" *ngFor="let dInsurance of patient.dentalInsurance">
        <div>{{dInsurance.company}}</div>
        <div class="lighter" *ngIf="dInsurance.memberId">Member ID: {{dInsurance.memberId}}</div>

        <div fxLayout="column" *ngIf="dInsurance.subscriber && dInsurance.subscriber.firstName">
          <div class="lighter">
            Subscriber Name: {{dInsurance.subscriber.firstName}} {{dInsurance.subscriber.lastName}}
          </div>
          <div class="lighter">
            Subscriber birthday: {{months[dInsurance.subscriber.dob.month].label}}
            {{dInsurance.subscriber.dob.day}},
            {{dInsurance.subscriber.dob.year}}
          </div>
        </div>
      </div>

    </div>
    <div fxflex="50" *ngIf="patient.medicalInsurance">
      <h4>Medical Insurance(s)</h4>

      <div class="insurance" *ngFor="let mInsurance of patient.medicalInsurance">
        <div>{{mInsurance.company}}</div>
        <div class="lighter" *ngIf="mInsurance.memberId">Member ID: {{mInsurance.memberId}}</div>

        <div fxLayout="column" *ngIf="mInsurance.subscriber && mInsurance.subscriber.firstName">
          <div class="lighter">Subscriber Name: {{mInsurance.subscriber.firstName}} {{mInsurance.subscriber.lastName}}
          </div>
          <div class="lighter">Subscriber Birthday: {{months[mInsurance.subscriber.dob.month].label}}
            {{mInsurance.subscriber.dob.day}},
            {{mInsurance.subscriber.dob.year}} </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>