<mat-card *ngIf="patient" fxLayout="column" class="patient-details">
  <h2> {{patient.firstName}} {{patient.lastName}} </h2>

  <div fxLayout="row">
    <div fxFlex *ngIf="patient.dob">
      <div class="lighter">Birthday</div>
      <div>{{monthsHash[patient.dob.month]}} {{patient.dob.day}}, {{patient.dob.year}}</div>
    </div>

    <div fxFlex *ngIf="patient.createdOn">
      <div class="lighter">Registered</div>
      <div>{{patient.createdOn | date:"MMM dd, yyyy"}}</div>
    </div>

    <div fxFlex>
      <div class="lighter">Insurance</div>
      <div>{{insurance?.company}}</div>
    </div>

    <div fxFlex>
      <div class="lighter">Member ID</div>
      <div *ngIf="insurance?.memberId">{{insurance.memberId}}</div>
    </div>

    <div fxFlex>
      <div class="lighter">Subscriber</div>
      <div *ngIf="insurance?.subscriber && !insurance?.subscriber.firstName">None</div>
      <div fxLayout="column" *ngIf="insurance?.subscriber && insurance?.subscriber.firstName">
        <div>
          Name: {{insurance.subscriber.firstName}} {{insurance.subscriber.lastName}}
        </div>
        <div>
          Date of Birth: {{monthsHash[insurance.subscriber.dob.month]}}
          {{insurance.subscriber.dob.day}},
          {{insurance.subscriber.dob.year}}
        </div>
      </div>
    </div>
  </div>
</mat-card>