.practices {
  height: 500px;

  .score {
    color: var(--orange);
    margin-right: 4px;
  }

  .count {
    opacity: 0.5;
  }

  .my-clinics {
    cursor: pointer;
    padding: 12px;
    transition: 0.3s;
  
    &:hover {
      background: rgba(grey, 0.2);
    }
  }

  .top-right {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .hide {
    opacity: 0;
  }

  .add-clinic {    
    height: 100%;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 30px;
    left: 0;
  }

  .clinic-details {

    h3 {
      margin: 0;
    }

    .name {
      font-size: 18px;
    }

    .address, .rating {
      font-size: 14px;
      margin-top: 4px;
      opacity: 0.5;
    }
  }
  

  .actions {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  .edit-clinic {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    > * {
      width: 50%;
    }
  }
}