<mat-card class="c-card verify-email">
  <button mat-icon-button class=" close" (click)="home()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="content" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
      <img src="assets/images/brand.svg" alt="">
      <h3>Verify your email to use SuperDentist</h3>
    </div>

    <p><span>We sent an email to </span> <b>{{userEmail}}</b> <span> called "Activate your SuperDentist Account".</span>
    </p>

    <div fxLayout="row" fxLayoutAlign="center">
      <button mat-raised-button color="primary" [disabled]="sentEmail"
        (click)="resendEmail()">{{ sentEmail ? 'Email Sent':'Resend Confirmation'}}</button>
    </div>
  </div>
</mat-card>