.verify-email {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: auto;

  .close {
    position: absolute;
    top: 52px;
    right: 54px;
  }

  .content {
    padding-top: 150px;
    width: 700px;
    margin: 0 auto;

    img {
      height: 62px;
    }

    h3 {
      font-size: 30px;
      margin: 0;
    }

    p {
      margin-top: 44px;
      margin-bottom: 32px;
      text-align: center;

      span {
        opacity: 0.5;
      }

      b {
        font-weight: 500;
      }
    }
  }

  .change-email {
    margin-top: 150px;
  }
}