<div class="verify-email">
  <button class="sd-icon-button close" (click)="home()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="content" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
      <img src="assets/images/brand.svg" alt="">
      <h3>Verify your email to use SuperDentist</h3>
    </div>

    <p>We sent an email to <b>xthecounsel@gmail.com</b> called "Activate your SuperDentist Account".</p>

    <div fxLayout="row" fxLayoutAlign="center">
      <button class="sd-button" [disabled]="sentEmail"
        (click)="resendEmail()">{{ sentEmail ? 'Email Sent':'Resend Confirmation'}}</button>
    </div>
    <!-- 
    <div fxLayout="row" fxLayoutAlign=" end" fxLayoutGap="24px" class="change-email">
      <div fxFlex fxLayout="column">
        <div class="sd-input">
          <label>Wrong email? Let's update it.</label>
          <input class="sd-input" placeholder="Corrected Email">
        </div>
      </div>
      <button class="sd-button">Update Email</button>
    </div> -->
  </div>
</div>