<!-- <div fxLayout="row" formGroupName="dob" fxLayoutGap="12px">
  <div class="sd-input">
    <label>Birthday</label>
    <select formControlName="month">
      <option *ngFor="let month of months" [value]="month.value">{{month.label}}</option>
    </select>
  </div>
  <div class="sd-input">
    <label></label>
    <select formControlName="day">
      <option *ngFor="let day of days" [value]="day">{{day}}</option>
    </select>
  </div>
  <div class="sd-input">
    <label></label>
    <select formControlName="year">
      <option *ngFor="let year of years" [value]="year">{{year}}</option>
    </select>
  </div>
</div> -->