<div class="patient" fxLayout="row" fxLayoutGap="20px">
  <div fxLayout="column" class="patient-details" fxLayoutGap="20px">
    <mat-card *ngIf="patient">
      <div fxLayout="row" fxLayoutAlign=" center">
        <mat-icon (click)="patient-list" class="back">chevron_left</mat-icon>
        <h3 class="no-m">{{patient.firstName}} {{patient.lastName}}</h3>
      </div>
      <div fxLayout="row">
        <div fxFlex="50">
          <div class="lighter">Date of Birth</div>
          <div>
            {{months[patient?.dob?.month]?.label}} {{patient.dob?.day}}, {{patient.dob?.year}}
          </div>
        </div>
        <div fxFlex="50">
          <div class="lighter">Phone</div>
          <div>{{patient.phone}}</div>
        </div>
      </div>
    </mat-card>

    <mat-card class="insurance-card">
      <h3>Dental Insurance</h3>
      <div (click)="clickDentalIns(i)" class="insurance-item"
        *ngFor="let insurance of patient?.dentalInsurance; let i = index">
        <div class="insurance-title" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign=" start">
          <div fxFlex>{{insurance.company}} ({{insurance?.status?.label}})</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="33">
            <div class="lighter">Due</div>
            <div>{{insurance.dueDate | date}}</div>
          </div>
          <div fxFlex="33">
            <div class="lighter">Member ID</div>
            <div>{{insurance.memberId}}</div>
          </div>
          <div fxFlex="33">
            <div class="lighter">Subscriber & DOB</div>
            <div>{{insurance.subscriber?.firstName}} {{insurance.subscriber?.lastName}}
              {{months[insurance.subscriber?.dob?.month]?.label}} {{insurance.subscriber.dob?.day}},
              {{insurance.subscriber.dob?.year}}</div>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card class="insurance-card">
      <h3>Medical Insurance</h3>
      <div (click)="clickMedicalIns(i)" class="insurance-item"
        *ngFor="let insurance of patient?.medicalInsurance; let i = index">
        <div class="insurance-title" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign=" start">
          <div fxFlex>{{insurance.company}} ({{insurance?.status?.label}})</div>
        </div>
        <div fxLayout="row">
          <div fxFlex="33">
            <div class="lighter">Due</div>
            <div>{{insurance.dueDate | date}}</div>
          </div>
          <div fxFlex="33">
            <div class="lighter">Member ID</div>
            <div>{{insurance.memberId}}</div>
          </div>

          <div fxFlex="33">
            <div class="lighter">Subscriber & DOB</div>
            <div>{{insurance.subscriber?.firstName}} {{insurance.subscriber?.lastName}}
              {{months[insurance.subscriber?.dob?.month]?.label}} {{insurance.subscriber.dob?.day}},
              {{insurance.subscriber.dob?.year}}</div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="divider-h"></div>

  <div class="breakdowns" fxLayout="column" fxLayoutGap="20px">
    <div #dInsEls fxLayout="column" fxLayoutGap="20px"
      *ngFor="let insurance of patient?.dentalInsurance; let i = index">
      <app-patient-details [months]="months" [patient]="patient" [patientCoverage]="dentalRecords[i]?.patientCoverage">
      </app-patient-details>
      <mat-card>
        <app-codes [savedCodes]="dentalRecords[i]?.codes" [codes]="codes"></app-codes>
      </mat-card>
      <mat-card>
        <app-remarks [remarks]="dentalRecords[i]?.remarks"></app-remarks>
      </mat-card>

      <mat-card>
        <app-history [allCodes]="allCodes" [savedHistory]="savedHistoryCodes" [history]="dentalRecords[i]?.history">
        </app-history>
      </mat-card>
    </div>

    <div #mInsEls fxLayout="column" fxLayoutGap="20px"
      *ngFor="let insurance of patient?.medicalInsurance; let i = index">
      <mat-card>
        <app-remarks [remarks]="medicalRecords[i]?.remarks"></app-remarks>
      </mat-card>

      <mat-card>
        <app-codes [savedCodes]="medicalRecords[i]?.codes" [codes]="codes"></app-codes>
      </mat-card>
    </div>
  </div>

</div>