<mat-card class="c-card dashboard">

   <!--<div class="header main-c mat-elevation-z2">
    <div fxLayout="row" class="m-w" fxLayoutAlign=" center" fxLayoutGap="12px">
      <img src="assets/images/brand.svg" alt="">
      <h1>SuperDentist</h1>
      <span fxFlex></span>
      <button mat-button>Dental Specialist</button>
      <button color="primary" mat-raised-button (click)="login()">Login</button>
    </div>
  </div>

  <div class="main-pitch m-w" fxLayout="column" fxLayoutAlign="center center">
    <h1>SuperDentist</h1>
    <p>Instant Referrals, Fast Completion</p>

    <div class="sup">
      <img src="assets/images/super.svg" alt="">
    </div>
  </div>

  <div class="opac-bot"></div>

  <div class="m-w c integration" fxLayout="column">
    <h2>Practice Management Software Integration</h2>
    <p>Schedule your integration at <a routerLink="schedule">superdentist.io/schedule</a>. After your integration, your
      patients will automatically
      populate when you create a referral.</p>
    <div class="pms" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="space-between">
      <div>
        <img src="assets/images/endovision.png" alt="">
      </div>
      <div>
        <img src="assets/images/omsvision.png" alt="">
      </div>
      <div>
        <img src="assets/images/periovision.png" alt="">
      </div>
    </div>

    <div class="pms" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="space-around center">
      <img src="assets/images/xldent.png" alt="">
      <img src="assets/images/pbsendo.png" alt="">
      <img src="assets/images/tdo.png" alt="">
    </div>
  </div>

  <div class="m-w c message" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="space-around center">
    <div>
      <h2>Digital Referrals</h2>
      <p>After you create a referral, your selected specialist will be notified and patient will receive an email and
        text.
      </p>
    </div>
    <div>
      <img src="assets/images/text.svg" alt="">
    </div>
  </div>

  <div class="m-w c hipaa" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="space-between center">
    <div>
      <img src="assets/images/hipaa.png" alt="">
    </div>

    <div fxFlex="50">
      <h2>HIPAA-Compliant Messaging</h2>
      <p>
        Securely exchange any file type, message your specialist, and receive updated patient benefits following
        treatment.
      </p>
    </div>
  </div>

  <div class="m-w c search" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxFlex="50">
      <h2>Real-Time Status Updates</h2>
      <p class="g-12">Get instantly notified the moment your referral is completed and download any documents in one
        click.
      </p>
    </div>
    <img src="assets/images/search.svg" alt="">
    <div>
    </div>
  </div>

  <div class="m-w c join" fxLayout="column" fxLayoutAlign=" center">
    <h2>Join in less than a minute</h2>
    <p>Made easier for you and the front desk.</p>
    <div>
      <button mat-raised-button color="primary" (click)="join()">Join SuperDentist</button>
    </div>
  </div>

  <!-- For Specialist -->
  <!-- <div class="m-w c instant-referrals">
    <h2>Instant Referrals</h2>
    <p>Get instantly notified the moment a
      referral is created and reach out to your referred patients first via text, e-mail,
      or phone call.
    </p>
  </div>

  <div class="m-w c direct-booking">
    <h2>Direct Booking </h2>
    <p>Set your available appointment types and
      scheduling rules, allowing referred patients to be immediately booked at the point
      of referral.
    </p>
  </div>

  <div class="m-w c patient-portal">
    <h2>Patient Portal</h2>
    <p>Customize your patient registration
      documents to be automatically sent to your referred patients to complete ahead
      of their appointment.
    </p>
  </div>

  <div class="m-w c pactice-management-software">
    <h2>Practice Management Software Integration</h2>
    <p>Schedule your integration at superdentist.io/schedule. After your integration, direct-booked
      appointments and completed patient registration forms will automatically populate
      in your PMS.
    </p>
  </div>

  <div class="m-w c referral-dashboard">
    <h2>Referral Dashboard</h2>
    <p>Manage the status of your
      referrals and update your referring doctors when treatment is completed.</p>
  </div>

  <div class="m-w c hippa-compliant-s">
    <h2>HIPAA-Compliant Messaging</h2>
    <p>Securely exchange any file type, including
      CBCT’s, and messages with your referring doctors and referred patients.</p>
  </div> -->

   <!--<div class="footer">
    <div class="m-w" fxLayout="column">
      <span>Copyright &copy; 2020 SuperDoctor Labs, LLC. All rights reserved.</span>
      <span>Made with love in the United States</span>
    </div>
  </div> -->
</mat-card>
