<mat-card class="c-card">
  <div class="insurance-filter" fxLayout="column" (click)="$event.stopPropagation()">
    <mat-form-field>
      <mat-label>Filter Insurance Company</mat-label>
      <input matInput type="text" [(ngModel)]="searchFilter" (keyup)="filterInsurances()">
    </mat-form-field>
    <mat-checkbox *ngFor="let company of filteredInsurances;" (change)="updateSelection($event, company)"
      [checked]="selectedCompanies[company]">
      {{company}}
    </mat-checkbox>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <button mat-button (click)="sendApply()">Apply</button>
    <button mat-button (click)="cancel.emit()">Cancel</button>
  </div>
</mat-card>