.referrals {
  min-height: 100%;
  position: relative;
  padding: 12px;
  margin-top: 48px;

  .container {
    margin: 0 auto;
    max-width: 900px
  }

  .sd-card {
    width: 100%;

    .specialist-title {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .contact-info {
    color: rgba(white, 0.6);
    font-size: 12px;
  }

  .clinic {
    margin-top: 32px;
    > span {
      font-size: 16px;
    }
  }

  .sd-icon-button {
    &.blue {
      color: var(--ac-blue);
    }
  }

  .pills {
    > span {
      font-size: 12px;
      color: rgba(white, 0.7);
    }
  }
}