<div class="referrals">

  <div class="container" fxLayout="column" fxLayoutGap="48px">
    <div class="search-clinic">
      <h2>Referrals</h2>
      <div class="sd-input">
        <input placeholder="Search for a referral">
      </div>
    </div>

    <div class="list" fxLayout="column" fxLayoutGap="52px">
      <div class="sd-card" fxLayout="row" fxLayoutGap="32px" *ngFor="let a of referrals">
        <div fxLayout="column">
          <span class="specialist-title"> Name isn't working </span>
          <div class="contact-info">
            <!-- <div>info@korbtaylor.com</div> -->
            <div>{{a.patientPhone}}</div>
          </div>
          <div class="clinic">
            <span>{{a.toClinicName}}</span>
            <div fxLayoutGap="4px" class="pills">
              <span>Endodontics</span>
              <span> | </span>
              <span> Root Canal Therapy</span>
            </div>
          </div>
        </div>

        <span fxFlex></span>

        <div fxLayout="column" fxLayoutAlign="space-between end">
          <div fxLayoutAlign=" center" fxLayoutGap="16px">
            <button class="sd-icon-button blue">
              <mat-icon>verified_user</mat-icon>
            </button>
            <button class="sd-icon-button">
              <mat-icon>assignment</mat-icon>
            </button>
            <button class="sd-button">Update Status</button>
          </div>
          <div> {{a.createdOn | date:"medium"}}</div>
        </div>
      </div>
    </div>
  </div>
</div>