<div class="referrals">

  <div class="container" fxLayout="column" fxLayoutGap="48px">
    <div class="search-clinic">
      <h2>Referrals</h2>
      <div class="sd-input">
        <input placeholder="Search for a referral">
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="48px">
      <div class="list" fxFlex fxLayout="column" fxLayoutGap="52px">
        <div class="sd-card referred" fxLayout="row" fxLayoutGap="32px" *ngFor="let a of referrals; let i = index">
          <div fxLayout="column">
            <span class="specialist-title"> {{a.patientFirstName}} {{a.patientLastName}} </span>
            <div class="contact-info">
              <div>{{a.patientPhone}}</div>
            </div>
            <div class="clinic">
              <span>{{a.toClinicName}}</span>
              <div fxLayoutGap="4px" class="pills">
                <span> Root Canal Therapy</span>
              </div>
            </div>
          </div>

          <span fxFlex></span>

          <div fxLayout="column" fxLayoutAlign="space-between end">
            <div fxLayoutAlign=" center" class="actions">
              <button mat-icon-button *ngIf="a.documents" matTooltip="Download Attachments"
                (click)="downloadFiles(a.referralId)">
                <mat-icon>get_app</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>description</mat-icon>
              </button>
              <button mat-icon-button (click)="referralChat(i)">
                <mat-icon>chat</mat-icon>
              </button>
            </div>
            <div class="clinic">
              <div class="pills"><span>Referred - {{a.createdOn | date:"MMM dd, yyyy"}}</span></div>
            </div>
          </div>
        </div>

      </div>

      <div fxFlex="350px">
        <div class="sd-card clinic-chat" *ngIf="selectedReferralIndex !== undefined" fxLayout="row">
          <div [fxFlex]="clinicType === 'specialist' ? 50 : 100" (click)="talkTo(true)" class="l"
            [ngClass]="{'active': selectedChannel === 'c2c'}" matTooltipPosition="above" matTooltipShowDelay="750"
            [matTooltip]="referrals[selectedReferralIndex]?.toClinicName">
            {{clinicType === 'dentist' ? referrals[selectedReferralIndex].toClinicName : referrals[selectedReferralIndex].fromClinicName }}
          </div>
          <div *ngIf="clinicType === 'specialist'" class="vert"></div>
          <div *ngIf="clinicType === 'specialist'" fxFlex="50" (click)="talkTo(false)" class="r"
            [ngClass]="{'active': selectedChannel === 'c2p'}" matTooltipPosition="above" matTooltipShowDelay="750"
            [matTooltip]="referrals[selectedReferralIndex]?.patientFirstName + ' ' + referrals[selectedReferralIndex]?.patientLastName">
            {{referrals[selectedReferralIndex]?.patientFirstName}} {{referrals[selectedReferralIndex]?.patientLastName}}
          </div>
        </div>

        <div class="sd-card chat" *ngIf="selectedReferralIndex !== undefined" fxLayout="column">
          <div class="ms" fxFlex>
            <div class="text" [ngClass]="m.userId === user?.email ? 'sender': 'receiver'" fxLayout="column"
              *ngFor="let m of messages">
              <div>{{m.text}}</div>
            </div>
          </div>

          <div fxLayout="row" class="chat-input">
            <button mat-icon-button>
              <mat-icon>attach_file</mat-icon>
            </button>
            <div class="sd-input">
              <input type="text" [(ngModel)]="messageToSend" (keyup.enter)="enterComment()" placeholder="SuperMessage">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>