<mat-card class="agent-input">
  <mat-card-header>
    <mat-card-title>Agent</mat-card-title>
  </mat-card-header>

  <form [formGroup]="agentForm" fxLayout="column">

    <ng-container formGroupName="patientCoverage">
      <h3>Coverage</h3>
      <div class="sd-input">
        <label>Eligibility start date</label>
        <div fxLayout="row">
          <button mat-icon-button (click)="picker1.open()">
            <mat-icon>today</mat-icon>
          </button>
          <input disabled [matDatepicker]="picker1" type="text" formControlName="eligibilityStartDate">
          <mat-datepicker disabled="false" #picker1></mat-datepicker>
        </div>
      </div>


      <div class="sd-input">
        <label>Coordination of benefits</label>
        <input type="text" formControlName="coordinationOfBenefits">
      </div>

      <div fxLayout="row" fxLayoutGap="12px">
        <div class="sd-input" fxFlex>
          <label>Annual maximum</label>
          <input type="number" formControlName="annualMaximum">
        </div>

        <div class="sd-input" fxFlex>
          <label>Annual used amount</label>
          <input type="number" formControlName="annualUsedAmount">
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="12px">
        <div class="sd-input" fxFlex>
          <label>Deductible (Individual)</label>
          <input type="number" formControlName="deductibleIndividual">
        </div>

        <div class="sd-input" fxFlex>
          <label>Deductible (Family)</label>
          <input type="number" formControlName="deductibleFamily">
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="12px">
        <div class="sd-input" fxFlex>
          <label>Deductible met amount (Individual)</label>
          <input type="number" formControlName="deductibleMetAmountIndividual">
        </div>

        <div class="sd-input" fxFlex>
          <label>Deductible met amount (Family)</label>
          <input type="number" formControlName="deductibleMetAmountFamily">
        </div>
      </div>

      <div class="sd-input radio">
        <label>Missing tooth clause</label>
        <mat-radio-group color="primary" fxLayoutGap="20px" formControlName="missingToothClause">
          <mat-radio-button *ngFor="let clause of ['yes', 'no']" [value]="clause">
            {{clause}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="sd-input radio" fxFlex>
        <label>Waiting periods</label>
        <mat-radio-group color="primary" fxLayoutGap="20px" formControlName="waitingPeriods">
          <mat-radio-button *ngFor="let clause of ['yes', 'no']" [value]="clause">
            {{clause}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="sd-input" fxFlex>
        <label>Eligibility year</label>
        <select formControlName="eligibilityYear">
          <option *ngFor="let clause of ['calendar', 'benefit']" [value]="clause">{{clause}}</option>
        </select>
      </div>

      <div class="sd-input radio" fxFlex>
        <label>In-network</label>

        <mat-radio-group color="primary" fxLayoutGap="20px" formControlName="inNetwork">
          <mat-radio-button *ngFor="let clause of ['yes', 'no']" [value]="clause">
            {{clause}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="sd-input radio" fxFlex>
        <label>Preventitive deducted from maximum</label>

        <mat-radio-group color="primary" fxLayoutGap="20px" formControlName="preventitiveDeductedFromMaximum">
          <mat-radio-button *ngFor="let clause of ['yes', 'no']" [value]="clause">
            {{clause}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="sd-input" fxFlex>
        <label>Free schedule</label>
        <input type="text" formControlName="feeSchedule">
      </div>

      <div fxLayout="column">
        <h3>Tooth replacement clause</h3>
        <div fxLayout="row" fxLayoutGap="12px" formGroupName="toothReplacementClause">
          <div class="sd-input" fxFlex>
            <label>Numerator</label>
            <input type="text" formControlName="numerator">
          </div>
          <div class="sd-input" fxFlex>
            <label>Denominator</label>
            <input type="text" formControlName="denominator">
          </div>
          <div class="sd-input" fxFlex>
            <label>Unit</label>
            <select formControlName="unit">
              <option *ngFor="let clause of ['month', 'year', 'lt']" [value]="clause">{{clause}}</option>
            </select>
          </div>
          <div class="sd-input radio" fxFlex>
            <label>Exclusions</label>

            <mat-radio-group color="primary" fxLayoutGap="20px" formControlName="exclusions">
              <mat-radio-button *ngFor="let clause of ['yes', 'no']" [value]="clause">
                {{clause}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container formGroupName="history">
      <h3>History</h3>

      <app-tooth-history label="Periodic exam" [historyForm]="agentForm.get('history')['controls'].periodicExam">
      </app-tooth-history>
      <app-tooth-history label="Comp exam" [historyForm]="agentForm.get('history')['controls'].compExam">
      </app-tooth-history>
      <app-tooth-history label="FMX / PANO" [historyForm]="agentForm.get('history')['controls'].fmxPano">
      </app-tooth-history>
      <app-tooth-history label="BWX" [historyForm]="agentForm.get('history')['controls'].bwx"></app-tooth-history>
      <app-tooth-history label="Adult prophy / child prophy"
        [historyForm]="agentForm.get('history')['controls'].adultProphyChildProphy"></app-tooth-history>
      <app-tooth-history label="Fl tx - topical or varnish"
        [historyForm]="agentForm.get('history')['controls'].flTxTopicalOrVarnish"></app-tooth-history>
      <app-tooth-history label="Sealants # 2,3,14,15,18,19,30,31"
        [historyForm]="agentForm.get('history')['controls'].sealantNumbers"></app-tooth-history>
      <app-tooth-history label="SDF" [historyForm]="agentForm.get('history')['controls'].sdf"></app-tooth-history>
      <app-tooth-history label="Perio maint" [historyForm]="agentForm.get('history')['controls'].perioMaint">
      </app-tooth-history>
      <app-tooth-history label="SRP" [historyForm]="agentForm.get('history')['controls'].srp"></app-tooth-history>
      <app-tooth-history label="Crowns" [historyForm]="agentForm.get('history')['controls'].crowns"></app-tooth-history>
      <app-tooth-history label="Restorations" [historyForm]="agentForm.get('history')['controls'].restorations">
      </app-tooth-history>
    </ng-container>

    <ng-container formGroupName="remarks">
      <h3>Remarks</h3>

      <div class="sd-input" fxFlex>
        <label>Insurance representative name</label>
        <input type="text" formControlName="insuranceRepresentativeName">
      </div>

      <div class="sd-input" fxFlex>
        <label>Call ref #</label>
        <input type="text" formControlName="callRefNumber">
      </div>

      <div fxLayout="row" fxLayoutGap="12px">
        <div class="sd-input" fxFlex>
          <label>Verified by</label>
          <input type="text" formControlName="verifiedBy">
        </div>
        <div class="sd-input" fxFlex>
          <label>Verified Date</label>
          <input type="text" formControlName="verifiedDate">
        </div>
      </div>
    </ng-container>

    <div class="actions">
      <button mat-stroked-button (click)="submit()">Save form</button>
    </div>
  </form>
</mat-card>