<div class="statistics" fxLayout="row" fxLayoutGap="20px">

  <div class="clinics">
    <div class="clinic-item" *ngFor="let clinic of clinics">
      {{clinic.name}}
    </div>
  </div>

  <div class="stats">
    <mat-form-field appearance="fill">
      <mat-label>Patient date range filter</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate (dateChange)="closeDate()" [(ngModel)]="startDate" style="font-size:14px"
          placeholder="Start date">
        <input matEndDate (dateChange)="closeDate()" [(ngModel)]="endDate" style="font-size:14px"
          placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</div>