<mat-card class="c-card">
  <div class="statistics" fxLayout="column" fxLayoutGap="20px">

    <div class="sd-input">
      <input type="text" [(ngModel)]="searchClinic" (ngModelChange)="triggerPageChange.next()"
        placeholder=" Search for a clinic">
      <div class="autocomplete">
        <div class="options" (click)="selectClinic(clinic)" *ngFor="let clinic of clinics">
          <p class="label">{{clinic.name}}</p>
          <p class="sub-label">{{clinic.address}}</p>
        </div>
      </div>
    </div>

    <ng-container *ngIf="selectedClinic?.addressId">
      <div class="stats" fxLayout="row" fxLayoutGap="20px">

        <mat-progress-bar *ngIf="loading" mode="indeterminate" class="top-left"></mat-progress-bar>

        <div fxFlex fxLayout="column">
          <h3>{{selectedClinic?.name}}</h3>
          <div class="lighter">{{selectedClinic?.address}}</div>

          <div class="filler"></div>
          <div *ngIf="statistics?.totalPatients || statistics?.totalPatients === 0" fxLayout="row" fxLayoutGap="12px">
            <div fxLayout="column">
              <div>Total Patients</div>
              <div *ngFor="let md of statistics?.statusCounts | keyvalue">
                {{md.key}}
              </div>
              <div class="filler"></div>
              <div>Visitation counts</div>
              <div *ngFor="let md of statistics?.visitationCounts | keyvalue">
                {{md.key}}
              </div>
            </div>
            <div fxLayout="column">
              <div>{{statistics?.totalPatients}}</div>
              <div *ngFor="let md of statistics?.statusCounts | keyvalue">
                {{md.value}}
              </div>
              <div class="filler"></div>
              <div class="filler"></div>
              <div *ngFor="let md of statistics?.visitationCounts | keyvalue">
                {{md.value}}
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="column">
          <mat-form-field appearance="fill">
            <mat-label>Select a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate (dateChange)="closeDate()" [(ngModel)]="startDate" style="font-size:14px"
                placeholder="Start date">
              <input matEndDate (dateChange)="closeDate()" [(ngModel)]="endDate" style="font-size:14px"
                placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>

          <button mat-stroked-button (click)="checkStatus()" [disabled]="!selectedClinic">
            Check statistics
          </button>
        </div>

      </div>
    </ng-container>
  </div>
</mat-card>