.patient-list-item {
  .carrier {
    header {
      font-size: 12px;
      opacity: 0.5;
    }
  }

  .name {
    header {
      font-size: 16px;
    }

    span {
      font-size: 12px;
      opacity: 0.5;
    }
  }

  .gap1 {
    margin-bottom: 8px;
  }

  .company {
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    background: rgba(grey, 0.1);
    padding: 4px 12px;
  }
}