.patient-list-item {
  .carrier {
    header {
      font-size: 12px;
      opacity: 0.7;
    }
  }

  .appointment-time {
    font-size: 20px;
    line-height: 36px;
    margin-right: 12px;
  }

  p {
    margin-bottom: 4px;
  }
  .right {
    opacity: 0.4;
  }

  .name {
    header {
      font-size: 16px;
    }

    span {
      font-size: 12px;
      opacity: 0.7;
    }
  }

  .gap1 {
    margin-bottom: 12px;
  }

  .company {
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-right: 8px;
    background: rgba(grey, 0.1);
    padding: 4px 12px;
  }
}