
  .patients {
    height: 100%;
    padding: 20px 20px 20px 10px;
    overflow: auto;
    box-sizing: border-box;

    table {
      width: 100%;
    }

    mat-tab-group {
      margin-bottom: 16px;
    }
    .selected-clinic {
      padding-bottom: 24px;
  
      h3 {
        margin-bottom: 0;
      }
  
      .sub {
        opacity: 0.5;
      }
  
      .sd-input {
        margin-top: 12px;
      }
    }
    
    .mat-row {
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background: rgba(grey, 0.2) !important;
      }
    }

    .lighter {
      opacity: 0.5;
      font-size: 13px;
    }
      .patient-list {
        height: calc(100% - 130px);
        padding: 0;
        position: relative;
      }
    
      .p-table {
        height: calc(100% - 56px);
        overflow: auto;
      }
      mat-paginator {
        box-shadow: inset 0 1px 0 rgba(grey, 0.2);
      }
  }