.settings {
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: row;
  max-height: calc(100vh - 58px);
  
  .top-right {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .nav {
    width: 350px;
    position: sticky;
    padding: 0;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    margin-right: 24px;
    align-self: flex-start; /* <-- this is the fix */

    > div {
      padding: 8px 16px;
      line-height: 40px;
      cursor: pointer;

      &:hover {
        background: rgba(grey, 0.05);
      }
    }

    :not(:last-child) {
      border-bottom: 1px solid rgba(grey, 0.3);
    }
  }


  .settings-content {
    align-self: start;
    mat-card {
      min-height: 500px;
    }
  }
}